﻿<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width" />
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">
    <meta name="keywords" content="Loaner, Consignment Management, Hospital workflow, poor vendor communication,Implant inefficiencies, healthcare system, Smart device technology improves implant & loaner logistics, confirmation, communication, surgical team, SPD, OR, Vendor, Equipment sterilization, Set checkin, Scan QR Code,cloud based surgical coordination platform">
    <meta name="description" content="ReadySet is a cloud based surgical coordination platform. It consolidates logistics, confirmation and communication through one dashboard accessible by all members of the surgical team.">
    <title>@ViewBag.Title</title>
    <link href="~/Content/css/stylesMaster.css" rel="stylesheet" />
    <link href="//netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.css" rel="stylesheet">
    <link href="~/Content/css/jQueryTables.css" rel="stylesheet" />
    @*<link href="~/Content/css/styles.css" rel="stylesheet" />*@
    @*<link href="~/Content/site.css" rel="stylesheet" />*@
    <link href="~/Content/css/socicon.css" rel="stylesheet" />
    <script src="@Url.Content("~/Scripts/jquery-1.8.2.min.js")" type="text/javascript"></script>
    <script src="@Url.Content("~/Scripts/jquery-ui-1.8.24.min.js")" type="text/javascript"></script>
    <script src="@Url.Content("~/Scripts/jquery.validate.min.js")" type="text/javascript"></script>
    <script src="@Url.Content("~/Scripts/jquery.validate.unobtrusive.min.js")" type="text/javascript"></script>
    <script type="text/javascript">
        var RootUrl = '@Url.Content("~/")';
    </script>
    @*@Styles.Render("~/Content/css")*@
    @*@Scripts.Render("~/bundles/modernizr")*@
</head>

@*<script type="text/javascript">
        $(document).ready(function () {
            if (navigator.userAgent.match(/Android/i)
                         || navigator.userAgent.match(/webOS/i)
                         || navigator.userAgent.match(/iPhone/i)
                         || navigator.userAgent.match(/iPad/i)
                         || navigator.userAgent.match(/iPod/i)
                         || navigator.userAgent.match(/BlackBerry/i)
                         || navigator.userAgent.match(/Windows Phone/i)
                         ) {
                var currenturl = window.location.href;
                var res = currenturl.split("readysetsurgical.com");

                var newurl = "https://msecure.readysetsurgical.com" + res[1];
                //alert(newurl);
                window.location.href = newurl;
            }
        });
    </script>*@
<body>
    <!-- wrapper-->
    <div class="dashboard-wraper">
        <!-- container for menu-->
        <div class="container clearfix">
            <div class="header clearfix">
                <a href="#" class="logo">
                    <img src="../Content/images/1-Invoice.png" alt="Ready Set" />
                </a>
                @if (Session["Layout"] != null && Convert.ToString(Session["Layout"]) != "Layout")
                {
                    <div class="dashboard-user-wrap clearfix">
                        <div class="clearfix">
                            <a class="menu-button active" href="/Account/Register">Sign Up</a>
                        </div>
                        <div class="clearfix">
                            <a class="menu-button" href="/Account/Login">Login</a>
                        </div>
                    </div>
                }
                @if (ViewContext.RouteData.Values["controller"].ToString() == "InvoiceList" || ViewContext.RouteData.Values["controller"].ToString() =="InvoiceDetails")
                {
                    <div class="dashboard-user-wrap clearfix">
                        <div class="clearfix">
                            <a class="menu-button active" href="/InvoiceList/InvoiceList">Home</a>
                        </div>
                        <div class="clearfix">
                            <a class="menu-button" href="#">RSS Home</a>
                        </div>
                        <div class="clearfix">
                            <img src="../Content/images/profile.png" width="40" height="40" alt="1-Invoice" />
                        </div>
                        <div class="clearfix">
                            <img src="../Content/images/invoice.png" width="40" height="40" alt="1-Invoice" />
                        </div>
                        <div class="clearfix">
                            <a class="menu-button" href="/Account/Logout">Logout</a>
                        </div>
                    </div>
                }

                <!-- end search case header and dashboard -->
                <div class="dashboard-header-img"></div>
            </div>
        </div>
        <div class="container clearfix">
            <div class="main-container-wrap clearfix">
                @RenderBody()
                <!-- body main content goes here -->
            </div>
        </div>
        <!-- end container for main page-->

        <div class="push"></div>
    </div>
    <!-- wrapper-->
    <!-- container for footer-->
    <div class="container clearfix">
        <div class="dashboard-footer clearfix">
            <div class="footer-menu">
            </div>
            <div class="copy-right">
                <span>1-Invoice &copy; 2018</span>
            </div>
        </div>
    </div>
    <!-- end container for footer-->
</body>
</html>
