﻿@model RSSCommon.Models.LoginModel
@{
    ViewBag.Title = "1-Invoice - User Login";
    Layout = "~/Views/Shared/_LayoutNewHome.cshtml";
}

<!DOCTYPE html>

<html>
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">

    <!--The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->
    <title>Login</title>
    <script>

        $(document).ready(function () {
            var loginDivHt = $(".header").outerHeight() + $("#logindiv").outerHeight() + $(".dashboard-footer").outerHeight();
            console.info(loginDivHt)
            if (loginDivHt < $(window).outerHeight()) {
                $("#logindiv").css("height", ($(window).outerHeight() - $(".header").outerHeight() - $(".dashboard-footer").outerHeight()));

                $(".login-container-wrap").css("top", "50%");
                $(".login-container-wrap").css("-webkit-transform", "translateY(-50%)")
                $(".login-container-wrap").css("-moz-transform", "translateY(-50%)")
                $(".login-container-wrap").css("-ms-transform", "translateY(-50%)")
                $(".login-container-wrap").css("transform", "translateY(-50%)")
            }
        });
    </script>
</head>
<body>

    <div class="container clearfix" id="logindiv" style="padding: 30px 0">
        <div class="login-container-wrap clearfix">
            @using (Html.BeginForm("Login", "Account", new { ReturnUrl = ViewBag.ReturnUrl }, FormMethod.Post, new { @class = "form-horizontal", role = "form" }))
            {
                @Html.ValidationSummary(true)

                if (@ViewBag.LoginResult != null)
                {
                    <div style="color:red">
                        @ViewBag.LoginResult
                    </div>
                    <br />
                }
                <div class="clearfix" style="margin-bottom: 20px;">
                    @Html.TextBoxFor(model => model.Username, new { placeholder = "User Name", @class = "form-input" })
                </div>
                <div class="clearfix" style="margin-bottom: 20px;">
                    @Html.ValidationMessageFor(model => model.Username)
                </div>
                <div class="clearfix" style="margin-bottom: 20px;">
                    @Html.PasswordFor(model => model.Password, new { placeholder = "Password", @class = "form-input" })
                </div>
                <div class="clearfix" style="margin-bottom: 20px;">
                    @Html.ValidationMessageFor(model => model.Password)
                </div>
                <div class="clearfix" style="padding-bottom: 30px; margin-top: 10px; border-bottom: 2px dashed #FFFFFF">
                    <input type="submit" class="login-btn" value="Login" />
                </div>
                <div class="newusertxt" style="margin-top: 20px;">
                    New User ?
                </div>
                <div class="clearfix" style="margin-top: 5px;">
                    <input type="button" class="reg-btn" value="Register Now" onclick="window.location.href = '#'" />
                </div>
                <div class="clearfix" style="margin-top: 20px;">
                    <input type="button" class="reg-btn" value="Forgot Your Password ?" onclick="window.location.href = '#'" />
                </div>
            }
        </div>
    </div>
    <!-- end container for main page-->
</body>
</html>
