﻿@{
    ViewBag.Title = "1-Invoice - Terms & Conditions";
    Layout = "~/Views/Shared/_LayoutNewHome.cshtml";
}
<script type="text/javascript">
    $(document).ready(function () {
        if ('@Session["Layout"]' != null) {
            if ('@Session["Layout"]' == "Layout") {
                $('.display').hide();
                document.getElementById("cancelbtn").value = "Home";
                document.getElementById("cancel").style.paddingLeft = "600px";
            }
        }
    });
    function acceptTerms() {
        var check = document.getElementById("accept").checked;
        if (check == true) {
            return true;
        }
        else {
            alert("Please select the checkbox before accepting the terms and conditions.");
            return false;
        }
    }
    function cancelTerms() {
        if ('@Session["Layout"]' != null) {
            if ('@Session["Layout"]' == "Layout") {
                document.location = "/Home/InvoiceList";
            }
            else {
                document.location = "/Account/Login";
            }
        }
        else {
            document.location = "/Account/Login";
        }
    }
</script>
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">
    <!--The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->
    <title>Ready Set</title>
    <!-- Bootstrap -->
    <link href="../stylesheets/vender/bootstrap/css/bootstrap.min.css" rel="stylesheet">
    <!-- HTML5 shim and Respond.js for IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]> <script src="https://oss.maxcdn.com/html5shiv/3.7.2/html5shiv.min.js"></script> <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script> <![endif]-->
    <link href="../stylesheets/src/styles.css" rel="stylesheet">
    <link href="../stylesheets/src/styles2.css" rel="stylesheet">
    <!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
    <script src="../javascripts/vender/jquery/jquery-2.1.4.min.js"></script>
    <!-- Include all compiled plugins (below), or include individual files as needed -->
    <script src="../javascripts/vender/bootstrap/bootstrap.min.js"></script>
</head>
<body class="login">
    <div class="wraper">
        <div class="log-reg-header">
            <div class="logo-wrapper">

            </div>
        </div>
        <div style="overflow-y:auto;height:500px;padding-left:15px; padding-right:15px;font-size:16px;color:white">
            <h2>Terms & Conditions</h2><br />
            <div>
                <h2>Welcome to the ReadySetSurgical.</h2>
                <br />
                <p>These terms of service (the "Terms") govern your access to and use of ReadySet’s ("we" or "our") website and services (the "Services").</p>
                <br />
                <p>The Services are provided by ReadySet Surgical LLC ("ReadySet"), located at 1776 Mentor Avenue, Suite 304, Cincinnati, Ohio 45212; Phone: 888.344.7323.</p>
                <br />
                <h4><b><u>Description of the Services</u></b></h4>
                <br />
                <p>
                    ReadySet’s Services allow hospitals and medical facilities better manage their use of surgical instruments and supplies.By using ReadySet’s Services, vendors, suppliers and sales representatives are able to provide information to medical facilities in a clear,
                    consistent way.  The facilities can then use that information to improve their workflow processes, save costs and improve patient care.
                </p><br />
                <p>
                    Our Services provide an interactive, Internet-based platform that lets userscheck-in and check-out medical equipment as well as communicate
                    information regarding to medical procedures.
                </p><br />
                <p>
                    The ReadySet Services provide an environment to facilitate information sharing, but ReadySet is not responsible or liable for any medical equipment,
                    such equipment’s availability or appropriateness for use, or any surgical outcomes.
                </p>
                <br />
                <h4><b><u>These Terms govern use of the Services</u></b></h4>
                <br />
                <p>
                    These Terms, which incorporate our Privacy Policy, constitute a legally-binding agreement between ReadySet and you.
                    By using the Services you agree to be bound by and comply with these Terms.
                </p><br />
                <p>YOU SHOULD READ THESE TERMS AND OUR PRIVACY POLICY CAREFULLY BEFORE USING THE SERVICES.</p><br />
                <p>
                    These Terms apply to all users of the Services. You may use the Services only in compliance with these Terms.
                    If you do not agree to be bound by and comply with these Terms, you may not use the Services.
                </p>
                <br />
                <h4><b><u>ReadySet owns the Services and associated content</u></b></h4>
                <br />
                <p>
                    The Services and all associated content (including any derivatives of or enhancements to the same),
                    and all intellectual property rights to the same (including trademarks, service marks, trade names, trade dress) that appear in connection with the Services,
                    are owned by or licensed to ReadySet.
                </p><br />
                <p>
                    The Services are being licensed to you by ReadySet only for use under the Terms. You do not acquire any right,
                    title or interest in or to the Services or any associated content other than the limited license granted to you by these Terms.
                    Any rights not expressly granted to you in these Terms are expressly reserved.
                </p>
                <br />
                <h4><b><u>You own your Content</u></b></h4>
                <br />
                <p>In connection with your use of our Services you may submit contact information, pictures, schedules and other content ("your Content") to the Services.</p><br />
                <p>
                    Subject to ownership interests of third-parties, you will retain full ownership of your Content. We don't claim any ownership to any of your Content.
                    By using the Services, you are granting us certain rights to use your Content.
                </p><br />
                <p>
                    We may need to access or otherwise process your Content for purposes related to the Services or the operation of ReadySet’s business,
                    including marketing and promotion. You agree that we have your permission to access, process or prepare derivative works of Content for such purposes.
                    This permission extends to trusted parties we work with to provide the Services. Such processing includes technically administering our Services by,
                    for example, backing up data or providing various functionalities (like calendaring).
                </p><br />
                <p>We will not knowingly share or allow anyone to access your Content other than as we describe in our Privacy Policy. </p>
                <br />
                <h4><b><u>Your Privacy</u></b></h4>
                <br />
                <p>
                    Any information you provide to us is subject to our Privacy Policy, which is incorporated in these Terms and governs our collection and use of your information.
                    By using the Services you consent to the collection and use of this information as provided by our Privacy Policy so, once again,
                    please read that policy carefully.
                </p><br />
                <p>
                    With limited exceptions identified in our Privacy Policy, we will not share your Content with others for any purpose unless you specifically authorize us to.
                    The manner in which we collect and use your information generally is explained in our Privacy Policy.
                </p><br />
                <p>
                    You acknowledge that ReadySet has no obligation to monitor any information on the Services. We are not responsible for the accuracy, completeness,
                    appropriateness, or legality of files or any other information you may be able to access using the Services.
                </p>
                <br />
                <h4><b><u>Sharing Your Content</u></b></h4>
                <br />
                <p>
                    The Services provide features that allow other people to see basic contact information such as your name, photograph, geographical location, email address,
                    phone number, area of specialty, etc. in addition to information you enter related to medical equipment and procedures.
                    Please consider carefully what you choose to upload. ReadySet has no responsibility or obligation to limit the viewing of such uploaded Content.
                </p>
                <br />
                <h4><b><u>Your Responsibilities</u></b></h4>
                <br />
                <p>
                    You must be registered to access the Services. You agree to provide true, accurate and complete registration information,
                    and you will promptly provide an update if any of this information changes.
                </p><br />
                <p>
                    You agree that for your Content, you have full rights to upload and share through the Services and such use is not unlawful or represent a violation of
                    terms governing any third party content.
                </p><br />
                <p>
                    You are solely responsible for your conduct, the Content you upload, and your communications with others while using the Services. For example,
                    it's your responsibility to ensure that you have the rights or permission needed to comply with these Terms.
                </p><br />
                <p>You agree that you will not upload spyware or any other malicious software to the Services.</p><br />
                <p>
                    You also agree that you will not transmit or otherwise provide any harmful or objectionable content, including content that
                    (i) violates or infringes in any way upon the rights of others, such as any copyright, trademark, patent, trade secret, moral right,
                    or other proprietary right of any person or entity,
                    (ii) impersonates another or is fraudulent, unlawful, threatening, abusive, libelous, defamatory,
                    invasive of privacy or publicity rights, vulgar, obscene, profane, pornographic, abusive, or otherwise reasonably objectionable, or
                    (iii) encourages conduct that would constitute a criminal offense, give rise to civil liability or otherwise violate any law.
                </p><br />
                <p>
                    You, and not ReadySet, are responsible for maintaining and protecting all of your Content. ReadySet will not be liable for any loss or corruption of your Content,
                    or for any costs or expenses associated with backing up or restoring any of your Content.
                </p><br />
                <p>The Services are not intended for use by you if you are under 18 years of age. By agreeing to these Terms, you are representing to us that you are at least 18 years old.</p>
                <br />
                <h4><b><u>Account Security</u></b></h4>
                <br />
                <p>
                    Use of your account is personal to you and your organization, as applicable. Except as specifically permitted by these Terms, you may not resell, assign,
                    distribute, transfer or otherwise provide your Login ID and/or Password to any third party.
                </p><br />
                <p>You are solely responsible for safeguarding and maintaining the confidentiality of your Login ID and Password.</p>
                <p>
                    You are also solely responsible for any activity using your account, whether or not you authorized that activity.
                    You should immediately notify ReadySet of any unauthorized use of your account.
                </p>
                <br />
                <h4><b><u>ReadySet property and feedback</u></b></h4>
                <br />
                <p>
                    These Terms do not grant you any right, title, or interest in or to the Services or the associated content. We appreciate it when users send us feedback,
                    but please be aware that we may freely use any feedback, comments, or suggestions you send us without any obligation to you.
                </p><br />
                <p>
                    The Services are protected by copyright, trademark, patent and other laws of both the United States and foreign countries.
                    These Terms do not grant you any rights to use the ReadySet trademarks, logos, domain names, or other brand features.
                </p>
                <br />
                <h4><b><u>Availability Of The Services</u></b></h4>
                <br />
                <p>
                    We try our best to have the Services available 24 hours a day, 7 days a week. There may still be times when the Services are unavailable for routine maintenance,
                    to correct technical difficulties, or for some other reason. Availability of the Services is subject to change at any time in our sole discretion.
                </p>
                <br />
                <h4><b><u>Third-party content and links</u></b></h4>
                <br />
                <p>
                    We may provide third-party content through the Services. Any such content represents the opinions, judgments, and offerings of the third-party, not ReadySet.
                    We do not endorse, and are not responsible in any way for, any such content and we expressly disclaim any endorsement or responsibility for such content.
                </p><br />
                <p>
                    Links to other websites may be provided for your convenience and reference only. We have no control of these sites, and we are not responsible for their content.
                    We do not endorse, and are not responsible in any way for, any content on these sites and we expressly disclaim any endorsement or responsibility for such content.
                </p><br />
                <p>
                    Please note that, when you travel from the Services to another website, whether through links provided on the Service or otherwise,
                    you will be subject to the privacy policies (or lack thereof) of these sites. We caution you to use good judgment and to determine the privacy policy of these
                    sites before you provide any personal information.
                </p>
                <br />
                <h4><b><u>Termination</u></b></h4>
                <br />
                <p>
                    We reserve the right to suspend or end your use of the Services at any time, with or without cause, and with or without notice. For example,
                    we may suspend or terminate your use if you are not complying with these Terms,
                    or if you use the Services in any way that would cause us legal liability or disrupt others' use of the Services.
                </p><br />
                <p>
                    If we suspend or terminate your use, we will try to let you know in advance, though there may be some cases
                    (for example, repeatedly or flagrantly violating these Terms, a court order, or danger to other users) where we may suspend or terminate your use immediately.
                    We reserve the right to delete any content associated with your account, in our sole discretion, upon suspension or termination of your subscription.
                </p>
                <br />
                <h4><b><u>Survival</u></b></h4>
                <br />
                <p>
                    The provisions of these Terms which by their nature should survive suspension or termination of your use shall survive,
                    including the provisions in the "Miscellaneous" section or relating to intellectual property ownership, your obligation to pay fees, disclaimers,
                    limitations of liability, arbitration, class actions, or jury trials.
                </p>
                <br />
                <h4><b><u>Our Services Are Provided "AS-IS"</u></b></h4>
                <br />
                <p>
                    THE SERVICES ARE PROVIDED ON AN "AS IS" AND "AS AVAILABLE" BASIS, FOR USE BY YOU AT YOUR OWN RISK, WITHOUT EXPRESS OR IMPLIED WARRANTY OR CONDITION OF ANY KIND.
                    WITHOUT LIMITING THE FOREGOING AND TO THE FULLEST EXTENT PERMITTED BY LAW, READYSET, AND ITS OFFICERS, DIRECTORS, EMPLOYEES, ANY PARENT COMPANIES, PARTNERS,
                    SUCCESSORS, AGENTS, DISTRIBUTION PARTNERS, AFFILIATES, SUBSIDIARIES, CONTENT PROVIDERS, SERVICE PROVIDERS, VENDORS, LICENSORS, MERCHANTS, RELATED COMPANIES,
                    ADVISORY BOARDS, REPRESENTATIVES, AND SUPPLIERS (COLLECTIVELY THE "READYSET ENTITIES") DISCLAIM ANY AND ALL WARRANTIES, EXPRESS AND IMPLIED,
                    INCLUDING ANY: (1) WARRANTIES THAT THE SERVICES WILL MEET YOUR REQUIREMENTS OR ACHIEVE CERTAIN RESULTS;
                    (2) WARRANTIES CONCERNING THE AVAILABILITY, ACCURACY, SECURITY, USEFULNESS, TIMELINESS, OR COMPLETENESS OF INFORMATIONAL CONTENT MADE AVAILABLE THROUGH THE SERVICES; AND
                    (3) WARRANTIES OF TITLE, NON-INFRINGEMENT, MERCHANTABILITY OR SATISFACTORY QUALITY, AND FITNESS FOR A PARTICULAR PURPOSE.
                </p>
                <br />
                <h4><b><u>Limitation of Liability</u></b></h4>
                <br />
                <p>
                    TO THE FULLEST EXTENT PERMITTED BY LAW, IN NO EVENT WILL READYSET OR THE READYSET ENTITIES BE LIABLE FOR ANY INDIRECT, SPECIAL, INCIDENTAL, PUNITIVE,
                    EXEMPLARY OR CONSEQUENTIAL (INCLUDING LOSS OF USE, DATA, BUSINESS, OR PROFITS) DAMAGES, REGARDLESS OF LEGAL THEORY,
                    WHETHER OR NOT READYSET OR THE READYSET ENTITIES HAVE BEEN ADVISED OF THE POSSIBILITY OF SUCH DAMAGES, AND EVEN IF A REMEDY FAILS OF ITS ESSENTIAL PURPOSE,
                    ARISING OUT OF, RELATING TO, OR IN ANY WAY CONNECTED WITH THE SERVICES OR THESE TERMS OF USE WHETHER DIRECTLY OR INDIRECTLY.
                    YOUR SOLE REMEDY FOR DISSATISFACTION WITH THE SERVICES IS TO STOP USING THE SERVICES AND, IF APPLICABLE, CANCEL YOUR ACCOUNT.
                </p><br />
                <p>
                    NOTWITHSTANDING ANYTHING TO THE CONTRARY CONTAINED HEREIN, IN NO EVENT SHALL THE CUMULATIVE LIABILITY OF READYSET OR THE READYSET ENTITIES EXCEED $100.00.
                    FURTHERMORE, YOU AGREE THAT ANY CAUSE OF ACTION ARISING OUT OF, RELATING TO, OR IN ANY WAY CONNECTED WITH ANY ACCESS OR USE OF THE SERVICES OR THESE TERMS
                    MUST COMMENCE WITHIN ONE (1) YEAR AFTER THE CAUSE OF ACTION ACCRUES; OTHERWISE, SUCH CAUSE OF ACTION SHALL BE PERMANENTLY BARRED.
                </p><br />
                <p>
                    Some jurisdictions do not permit limitations of liability and in those jurisdictions some of the foregoing limitations may not apply to you.
                    These limitations shall apply to the fullest extent permitted by law.
                </p>
                <br />
                <h4><b><u>Indemnification</u></b></h4>
                <br />
                <p>
                    You agree to indemnify and hold harmless ReadySet and the ReadySet Entities from and against any and all claims, liabilities, losses, damages, obligations,
                    costs and expenses (including reasonable attorneys' fees and costs) brought by third-parties arising out of, related to, or that may arise in connection
                    with any actual or alleged violation or breach of any of the representations, warranties, agreements or promises made by you herein.
                </p><br />
                <p>You also agree to cooperate fully with us in the defense of any claim that is the subject of your obligations hereunder.</p>
                <br />
                <h4><b><u>Modifications</u></b></h4>
                <br />
                <p>
                    We may revise these Terms from time to time—please check regularly for any changes. By continuing to access or use the Services after revisions become effective,
                    you agree to be bound by the revised Terms. If you do not agree to the new terms, you agree to stop using the Services.
                </p><br />
                <p>If there is a dispute about the Terms or the Services, the Terms in effect at the time the dispute arose shall apply.</p>
                <br />
                <h4><b><u>Arbitration</u></b></h4>
                <p>
                    You and ReadySet each agree to first contact each other with any disputes and provide a written description of the problem, all relevant documents or
                    information and the proposed resolution. You agree to contact us with disputes by contacting us at the address provided in these Terms.
                    We will contact you based on the contact information you have provided us.
                </p><br />
                <p>
                    If you and ReadySet cannot resolve any dispute after 30 days, the party seeking to pursue a claim will submit the claim to arbitration consistent with this
                    section. The parties understand that they would have had a right or opportunity to litigate disputes through a court and to have a judge or jury decide their
                    case, but they choose to have any disputes resolved through arbitration.
                </p><br />
                <p>
                    Any claim or dispute between you and ReadySet, and any claim by either against any agent, employee, successor, or assign of the other, including third parties,
                    whether related to these Terms or otherwise, including past, present, and future claims and disputes, and including any dispute as to the validity or
                    applicability of this arbitration clause, shall be resolved by binding arbitration administered by the JAMS under its rules and procedures in effect when the
                    claim is filed. The rules and procedures and other information, including information on fees, may be obtained from JAMS' website (www.jamsadr.com) or by
                    calling JAMS at 949-224-1810.
                </p><br />
                <p>
                    You agree that receiving the Services is a transaction involving interstate commerce. These Terms and any related arbitration proceedings will be governed by
                    the Federal Arbitration Act, 9 U.S.C. Â§Â§ 1-16. Any award by the arbitrator(s) may be entered as a judgment in any court having jurisdiction.
                </p><br />
                <p>
                    Either you or ReadySet may bring applicable claims in small claims court. Also, you and ReadySet each agree that any arbitration will be solely between
                    you and us, not as part of a classwide claim.
                </p>
                <br />
                <h4><b><u>No Class Actions</u></b></h4>
                <br />
                <p>
                    TO THE EXTENT ALLOWED BY LAW, YOU AND READYSET EACH WAIVE ANY RIGHT TO PURSUE DISPUTES ON A CLASSWIDE BASIS; THAT IS, TO EITHER JOIN A CLAIM WITH THE CLAIM OF
                    ANY OTHER PERSON OR ENTITY, OR ASSERT A CLAIM IN A REPRESENTATIVE CAPACITY ON BEHALF OF ANYONE ELSE IN ANY LAWSUIT, ARBITRATION OR OTHER PROCEEDING.
                </p>
                <br />
                <h4><b><u>No Jury Trial</u></b></h4>
                <br />
                <p>TO THE EXTENT ALLOWED BY LAW, YOU AND READYSET EACH WAIVE ANY RIGHT TO TRIAL BY JURY IN ANY LAWSUIT, ARBITRATION OR OTHER PROCEEDING.</p>
                <br />
                <h4><b><u>Miscellaneous Legal Terms</u></b></h4>
                <br />
                <p>
                    THESE TERMS AND THE USE OF THE SERVICES WILL BE GOVERNED BY OHIO LAW EXCEPT FOR ITS CONFLICTS OF LAWS PRINCIPLES. ALL CLAIMS ARISING OUT OF OR RELATING TO
                    THESE TERMS OR THE SERVICES THAT ARE NOT GOVERNED BY THE ARBITRATION CLAUSE MUST BE LITIGATED EXCLUSIVELY IN THE FEDERAL OR STATE COURTS LOCATED IN HAMILTON
                    COUNTY, OHIO, AND BOTH PARTIES CONSENT TO VENUE AND PERSONAL JURISDICTION THERE.
                </p><br />
                <p>These Terms create no third party beneficiary rights.</p><br />
                <p>Our failure to enforce a provision of these Terms is not a waiver of our right to do so later.</p><br />
                <p>
                    If a provision of these Terms is found unenforceable the remaining provisions will remain in full force and effect,
                    and an enforceable term will be substituted reflecting our intent as closely as possible.
                </p><br />
                <p>You may not assign any of your rights in these Terms, and any such attempt is void.</p><br />
                <p>ReadySet may assign its rights to any of its affiliates or subsidiaries, or to any successor in interest of any business associated with the Services.</p><br />
                <p>ReadySet and you are not legal partners or agents; instead, our relationship is that of independent contractors.</p>
            </div><br /><br />
            <h2>Privacy Policy</h2><br />
            <div>
                <br />
                <h4><b>Our Commitment To Privacy</b></h4>
                <br />
                <p>
                    Your privacy is important to us. In order to better protect your privacy, we provide this notice (the "Policy") explaining our information practices and the choices you can make about the way your information is collected and used. By providing personal information to ReadySet Surgical LLC ("ReadySet", "We", "Us", or "Our") through our website www.readysetsurgical.com, you agree and consent that we may collect, use, and disclose your personal information in accordance with this Policy.
                </p>
                <br />
                <h4><b>The Information We Collect</b></h4>
                <br />
                <p>
                    This Policy applies to all information collected or submitted on readysetsurgical.com. We consider "personal information" to mean information identifiable to an individual. The type of personal information collected on the website includes, but is not limited to: Name, Photo, Address, Email Address, Phone Number, company affiliation and specialty area. Contact information of other people may also be collected from or submitted by you during the course of your using the website. The same types of information previously described in this paragraph will also apply to other people's information.
                </p>
                <br />
                <h4><b>The Way We Use Information</b></h4>
                <br />
                <p>We use the information you provide to communicate to other parties involved in preparing for, executing, and managing medical procedures. We do not share this information with outside parties except to the extent necessary to facilitate interactions (of type noted in the previous sentence), where required or permitted by law, or as set forth in this Policy (see Information Sharing section below). We do not sell your personal information to third parties. </p><br />
                <p>If you provide personal information about someone else to us, you represent and warrant that you have obtained their consent to do so. </p><br />
                <p>ReadySet may use the information collected from you to provide you with additional information about ReadySet’s services, partners, promotions, and events. Every marketing email from ReadySet contains instructions on how to opt out of receiving further marketing emails.</p><br />
                <p>We use non-identifying and aggregate information to better design our website and to share with customers. We may collect information such as zip code, area code, unique device identifier, location, and the time zone where readysetsurgical.com is used so that we can better understand user behavior and improve our website to better suit our users.</p><br />
                <p>We may provide your personal information to companies that provide services to help us with our business activities such as improving system performance or offering customer service. These companies are authorized to use your personal information only as necessary to providethese services to us.</p><br />
                <p>We may also share personal information in response to a valid court order, subpoena, government investigation, or as otherwise required by law. We also reserve the right to report to law enforcement agencies any activities that we, in good faith, believe to be unlawful. We may share certain Personal Information when we believe that such release is reasonably necessary to protect the rights, property and safety of others and ourselves. In the event that we enter into a business transaction, such as a merger with or an acquisition by another company, or a sale of some or all of our assets, your personal information may be among the assets that are transferred or disclosed in connection with such a transaction, you will be notified via email and/or a prominent notice on our website of any change in ownership or uses of your personal information, as well as any choices you may have regarding your personal information.</p><br />
                <p>Finally, we never use or share the personal information provided to us online in ways unrelated to the ones described in this Policy without also providing you an opportunity to opt-out or otherwise prohibit such unrelated uses.</p>
                <br />
                <h4><b>Our Commitment To Data Security</b></h4>
                <br />
                <p>To prevent unauthorized access, maintain data accuracy, and ensure the correct use of information, we have put in place physical, electronic, and managerial procedures to help safeguard and secure the information we collect online. You should note, though, that the Internet is not a 100% secure environment. There is no guarantee that information you provide or that we maintain may not be accessed, copied, disclosed, altered, or destroyed by breach of any of our physical, technical, or managerial safeguards. If you have any questions about security on our website, you can contact us at hello@readysetsurgical.com.</p>
                <br />
                <h4><b>How You Can Access Your Information</b></h4>
                <br />
                <p>You can retrieve, correct or update your personal information by accessing your account on readysetsurgical.com or by contacting us at the contact information listed below.</p><br />
                <p>We will retain your information for as long as your account is active or as needed to provide you services. We will retain and use your information as necessary to comply with our legal obligations, resolve disputes, and enforce our agreements.</p><br />
                <h4><b>Opt out Preferences and Service Related Emails</b></h4><br />
                <p>We will also send you service related email announcements on rare occasions when it is necessary to do so. For instance, if our service is temporarily suspended for maintenance, we might send you an email. You do not have an option to opt out of these emails, which are not promotional in nature.</p>
                <br />
                <h4><b>Tracking Technologies / Cookies</b></h4>
                <br />
                <p>Technologies such as: cookies, beacons, tags and scripts are used by ReadySet and our marketing partners, affiliates, or analytics or service providers. These technologies are used in analyzing trends, administering the site, tracking users' movements around the site and to gather demographic information about our user base as a whole. We may receive reports based on the use of these technologies by these companies on an individual as well as aggregated basis. </p><br />
                <p>We use cookies to remember users' settings. Users can control the use of cookies at the individual browser level. If you reject cookies, you may still use our site, but your ability to use some areas of our site may not be possible.</p>
                <br />
                <h4><b>Log Files</b></h4>
                <br />
                <p>As is true of most websites, we gather certain information automatically and store it in log files. This information may include Internet protocol (IP) addresses, browser type, Internet service provider (ISP), referring/exit pages, operating system, date/time stamp, and/or click stream data. We do not link this automatically collected data to other information we collect about you.</p>
                <br />
                <h4><b>Information Sharing</b></h4>
                <br />
                <p>Normally, we will not disclose personal information unless you have authorized the disclosure. There are some circumstances where we may disclose personal information without consent. Such circumstances include where we are required or permitted by law, such as to comply with a subpoena, or similar legal process; when we believe in good faith that disclosure is necessary to protect the rights, privacy, safety or property of an identifiable person or group; or where the information is public. We will not disclose more information than required or permitted.</p><br />
                <p>We endeavor to ensure that your personal information is as accurate as necessary and generally retain personal information as long as is necessary to fulfill the purposes for which it was collected.</p><br />
                <p>We operate in the United States. Any information provided through readysetsurgical.com will be processed and stored in the United States, where privacy laws may offer different levels of protection from those in Canada or other countries and personal information may be subject to access by and disclosure to law enforcement agencies in the United States. We may also share personal information with organizations that perform services on our behalf. We require those service providers to take the necessary precautions to protect the personal information.</p><br />
                <p>In most cases and subject to legal or contractual restrictions, you are free to refuse or withdraw your consent at any time upon reasonable, advance notice.</p>
                <br />
                <h4><b>Changes to the Policy</b></h4>
                <br />
                <p>By providing information to us, you signify your consent to this Policy. If you do not agree to this Policy or the Terms of Use, please do not use the website, or provide your information to us. We reserve the right, at our discretion, to change, modify, add or remove portions of this Policy at any time and we will update this page to reflect the date of the last update. If we make any material changes we will notify you by email (sent to the e-mail address specified in your account) or by means of a notice on this site prior to the change becoming effective. Please check this page periodically for changes. Your continued use of the website following the posting of changes to these terms will mean you accept those changes. The date of the last update is located at the bottom of this Policy.</p>
                <br />
                <h4><b>Links to Third Party Websites</b></h4>
                <br />
                <p>Our website may contain "links" to other websites. We cannot be responsible for the content or privacy practices employed by other sites. We encourage you to review the privacy policies of these websites before disclosing any personal information to or through them.</p>
                <br />
                <h4><b>Testimonials</b></h4>
                <br />
                <p>We may display personal testimonials of satisfied customers on our site in addition to other endorsements. With your consent we may post your testimonial along with your name. If you wish to update or delete your testimonial, you can contact us at hello@readysetsurgical.com.</p>
                <br />
                <h4><b>How To Contact Us</b></h4>
                <br />
                <p>
                    Should you have other questions or concerns about this Policy, please email us at hello@readysetsurgical.com. You may also write to us at:<br />
                    ReadySet Surgical LLC<br />
                    1776 Mentor Avenue<br />
                    Suite 304<br />
                    Cincinnati, OH 45212<br />
                    Last updated: November 1, 2016

                </p><br />
            </div>
        </div>
        <div style="padding-left:15px;">
            <div class="form-group rcheck">
                <input type="checkbox" id="accept"><label for="accept">I agree the Terms & Conditions.</label>
            </div>
            <div class="form-group">
                <span class="display">
                    <a href="/Account/AcceptTermsandConditions">
                        <input type="button" class="btn btn-greenone btn-block" id="acceptbtn" value="Accept" />
                    </a>&nbsp;&nbsp;&nbsp;&nbsp;
                </span>
                <span id="cancel"><input type="button" class="btn btn-greenone btn-block" id="cancelbtn" value="Cancel" onclick="return cancelTerms()" /></span>
            </div>
        </div>
    </div>
</body>
</html>