﻿
@{
    ViewBag.Title = "InvoiceDetails";
    Layout = "~/Views/Shared/_LayoutNewHome.cshtml";
}

<div class="main-headings clearfix">
    <img src="../Content/images/invoice.png" width="30" height="30" alt="1-Invoice" />
    <h1>Invoice Details</h1>
</div>
<div id="page-wrap">
    <ul class="rbreadcrumbs">
        <li><a href="/Home/Create">Create Invoice</a></li>
        <li><a href="/Home/InvoiceDetails" style="color:gray">Invoice Details</a></li>
    </ul>
</div>

<div class="main-container-form-wrap clearfix">
    <form action="#" class="fform" id="fmEdit" method="post">
        <div class="case-form-wrap clearfix">
            <div style="width: 100%; float: left; display: inline-block;">
                <label style="color: red;" id="errorMsg"></label>
            </div>

            <div class="left-table">
                <table>
                    <tr>
                        <td class="left">
                            <label for="field1">Case: </label>
                        </td>
                        <td>
                            <div>
                                <select id="Case" name="Case" class="form-input form-input-select in-width335">
                                    <option value="">Select group...</option>
                                    <option value="RS89370705">RS89370705</option>
                                    <option value="RS10014788">RS10014788</option>
                                    <option value="RS10014788">RS10014788</option>

                                </select>
                            </div>
                        </td>

                        <td class="left">
                            <div class="clearfix">
                                <a style="cursor: pointer;background-color:#8BC44D" class="btn" id="hcases" onclick="window.location.href ='/InvoiceDetails/CreateCase'">Create Case</a>
                            </div>
                        </td>
                    </tr>
                    <tr>
                        <td class="left">
                            <label for="field1">Invoice ID: </label>
                        </td>
                        <td>
                            <input type="text" id="InvoiceId" name="InvoiceId" value="" class="form-input in-width355" />
                        </td>
                        <td></td>
                    </tr>

                    <tr>
                        <td class="left">
                            <label for="field2">Vendor Name: </label>
                        </td>
                        <td>
                            <div>
                                <select id="VendorName" name="VendorName" class="form-input form-input-select in-width335">
                                    <option value="">Select group...</option>
                                </select>
                            </div>
                        </td>
                        <td></td>
                        <td></td>
                    </tr>
                    <tr>
                        <td class="left">
                            <label for="field2">Vendor ID: </label>
                        </td>

                        <td style="width: 330px">
                            <input type="text" id="VendorId" name="VendorId" value="" class="form-input in-width355" />
                        </td>
                        <td></td>
                        <td></td>
                    </tr>
                </table>
            </div>
            <div style="float: left; display: inline-block">
                <table>
                    <tr>
                        <td class="left">
                            <label for="field1">Hospital Name: </label>
                        </td>
                        <td>
                            <input maxlength="100" class="form-input in-width355 required safe" id="hospitalName" name="hospitalName" type="text" value="" />
                        </td>
                        <td></td>
                    </tr>

                    <tr>
                        <td class="left">
                            <label for="field1">Hospital ID: </label>
                        </td>
                        <td>
                            <input maxlength="100" class="form-input in-width355 required safe" id="hospitalId" name="hospitalId" type="text" value="" />
                        </td>
                        <td></td>
                    </tr>
                    <tr>
                        <td class="left">
                            <label for="field1">Mfr Code: </label>
                        </td>
                        <td>
                            <input type="text" id="CaseId" name="CaseId" value="" class="form-input in-width355" />
                        </td>
                    </tr>
                    <tr>
                        <td class="left">
                            <label for="field1">Invoice Date: </label>
                        </td>
                        <td>
                            <input type="text" id="CaseId" name="CaseId" value="" class="form-input in-width355" />
                        </td>
                        <td></td>
                    </tr>
                    <tr>
                        <td class="left">
                            <label for="field1">Status: </label>
                        </td>
                        <td>
                            <img src="../Content/images/waiting.png" width="30" height="30" alt="1-Invoice" />
                        </td>
                        <td></td>
                    </tr>

                </table>
            </div>
        </div>

        <!-- end from fields -->
        <!-- from fields buttons-->
        <div class="from-buttons-wrap clearfix">
            <div class="from-buttons clearfix">
                <input type="button" class="button" id="btnAdd" title="Add" value="Add" onclick="addRow('dataTable')" />
                <input type="button" class="button" id="btnDelete" title="Delete" value="Delete" onclick="deleteRow('dataTable')" />
            </div>
        </div>
        <!-- end from fields buttons-->
    </form>
</div>

<HTML>
<HEAD>
    <TITLE> Add/Remove dynamic rows in HTML table </TITLE>
    <SCRIPT language="javascript">
        function addRow(tableID) {

            var table = document.getElementById(tableID);

            var rowCount = table.rows.length;
            var row = table.insertRow(rowCount);

            var colCount = table.rows[0].cells.length;

            for (var i = 0; i < colCount; i++) {

                var newcell = row.insertCell(i);

                newcell.innerHTML = table.rows[0].cells[i].innerHTML;
                //alert(newcell.childNodes);
                switch (newcell.childNodes[0].type) {
                    case "text":
                        newcell.childNodes[0].value = "";
                        break;
                    case "checkbox":
                        newcell.childNodes[0].checked = false;
                        break;
                    case "select-one":
                        newcell.childNodes[0].selectedIndex = 0;
                        break;
                }
            }
        }

        function deleteRow(tableID) {
            try {
                var table = document.getElementById(tableID);
                var rowCount = table.rows.length;

                for (var i = 0; i < rowCount; i++) {
                    var row = table.rows[i];
                    var chkbox = row.cells[0].childNodes[0];
                    if (null != chkbox && true == chkbox.checked) {
                        if (rowCount <= 1) {
                            alert("Cannot delete all the rows.");
                            break;
                        }
                        table.deleteRow(i);
                        rowCount--;
                        i--;
                    }


                }
            } catch (e) {
                alert(e);
            }
        }

    </SCRIPT>
</HEAD>
<BODY>
    <div class="main-container-form-wrap clearfix" style="padding-right: 0; padding-left: 0">
        <form class="fform" id="invoiceform" method="post">
            <div class="surg-admins clearfix">
                <table id="heading" class="list-table">
                    <thead>
                        <tr>
                            <th style="width: 10%"><input class="toggleable-button" id="checkboxtoggle" type="checkbox" /></th>
                            <th style="width: 10%">Part ID</th>
                            <th style="width: 15%">Description</th>
                            <th style="width: 15%">Vendor CATNO</th>
                            <th style="width: 10%">Serial/Lot Num</th>
                            <th style="width: 10%">Quantity</th>
                            <th style="width: 10%">List Price</th>
                            <th style="width: 10%">Contract Price</th>
                            <th style="width: 10%">Dispute</th>
                            <th style="width: 10%">Confirmed/New Price</th>
                            <th style="width: 10%">Notes</th>
                        </tr>
                    </thead>
                    <tbody></tbody>
                </table>
                <table id="dataTable" class="list-table">
                    @*<thead>
                            <tr>
                                <th style="width: 10%"><input class="toggleable-button" id="checkboxtoggle" type="checkbox" /></th>
                                <th style="width: 10%">Part ID</th>
                                <th style="width: 15%">Description</th>
                                <th style="width: 15%">Vendor CATNO</th>
                                <th style="width: 10%">Serial/Lot Num</th>
                                <th style="width: 10%">Quantity</th>
                                <th style="width: 10%">List Price</th>
                                <th style="width: 10%">Contract Price</th>
                                <th style="width: 10%">Dispute</th>
                                <th style="width: 10%">Confirmed/New Price</th>
                                <th style="width: 10%">Notes</th>
                            </tr>
                        </thead>*@
                    <tbody>
                        <tr>
                            <td width="150px"><input class="toggleable-button" id="checkboxtoggle" type="checkbox" /></td>
                            <td width="150px"><input class="form-input in-width150" id="partId" type="text" /></td>
                            <td width="150px"><textarea class="form-input form-textarea in-width150" id="Description" name="Description" maxlength="500"></textarea></td>
                            <td width="150px"><input class="form-input in-width150" id="Vendor" type="text" /></td>
                            <td width="150px"><input class="form-input in-width150" id="Serial" type="text" /></td>
                            <td width="150px"><input class="form-input in-width150" id="Serial" type="text" /></td>
                            <td width="150px"><input class="form-input in-width150" id="Serial" type="text" readonly value="1234.25" /></td>
                            <td width="150px"><input class="form-input in-width150" id="Serial" type="text" readonly value="1212.75" /></td>
                            <td width="150px"><input class="toggleable-button" id="checkboxtoggle" type="checkbox" /></td>
                            <td width="150px"><input class="form-input in-width150" id="invoiceamount" name="invoiceamount" type="text" readonly value="1212" /></td>
                            <td width="150px"><img src="../Content/images/blank.png" width="30" height="30" alt="1-Invoice" /></td>
                        </tr>
                    </tbody>
                </table>
            </div>
    

            <div class="from-buttons-wrap clearfix">
                <div class="from-buttons clearfix">
                    <input type="button" class="button active" id="btnPrint" title="Print" value="Print" />
                    <input type="button" class="button" id="btnExport" title="Export" value="Export" />
                    <input type="submit" class="button" id="btnSubmit" title="Submit" value="Submit" />
                </div>
            </div>
        </form>
    </div>
</BODY>
</HTML>
<script type="text/javascript">
    $("body").on("change", "#Case", function () {

        var caseId = $(this).val();
        $.ajax({
            url: '/InvoiceDetails/GetCaseDetails/' + caseId,
            type: "POST",
            contentType: 'application/json; charset=utf-8',
            success: function (data) {
                $("#hospitalName").val(data);

                // alert(data);
            },
            error: function (xhr) {
                alert('error');
            }
        })
    });

    //Create Invoice
    $("#invoiceform").submit(function (e) {
        e.preventDefault();
        $.ajax({
            type: "post",
            url: "/InvoiceDetails/CreateInvoice",
            data: $("#invoiceform").serialize(),
            success: function (data) {
                alert("success");
            },
            error: function () {
                alert("error");
            }
        });
    });
</script>
