﻿
@{
    ViewBag.Title = "InvoiceList";
    Layout = "~/Views/Shared/_LayoutNewHome.cshtml";
}

<!DOCTYPE html>
<html>
<head>
    <title>@ViewBag.Title</title>
</head>
<body>
    <div class="main-headings clearfix">
        <img src="../Content/images/invoice.png" width="30" height="30" alt="1-Invoice" />
        <h1>Invoice List</h1>
    </div>
    <div class="dashboard-user-wrap clearfix">
        <div class="clearfix" style="margin-top: 5px;">
            <div class="from-buttons-wrap clearfix">
                <div class="from-buttons clearfix">
                    <input type="button" class="button" id="btnCreateInvoice" value="New" onclick="window.location.href = '/InvoiceDetails/InvoiceDetails'" />
                </div>
            </div>

        </div>
    </div>
    <div style="position: relative; width: 600px; height: 800px;">
        <div style="position: absolute; bottom: 5px;">
            <span>Status:</span>
            <img src="../Content/images/waiting.png" width="30" height="30" alt="1-Invoice" />
            <span>Waiting to Submit</span>
            <img src="../Content/images/submitted.png" width="30" height="30" alt="1-Invoice" />
            <span>Submitted</span>
            <img src="../Content/images/submittedwithexceptions.png" width="30" height="30" alt="1-Invoice" />
            <span>SubmittedwithExceptions</span>
        </div>
    </div>
</body>
</html>

