
/* 
    Created on : 03-Jan-2015, 10:55:08
    Author     : adinarayana
*/

.accordion-header {
    width: 100%;
    background: #CBCBCB;
    margin: 6px 0 0 0;
    padding: 12px 83px 12px 65px;
    cursor: pointer;
    position: relative;
    -moz-border-radius: 4px;
    -webkit-border-radius: 4px;
    border-radius: 4px;
    -webkit-transition:  background 0.6s;
    -moz-transition: background 0.6s;
    -o-transition:  background 0.6s;
    -ms-transition:  background 0.6s;
    transition: background 0.6s;
}

.accordion-header h1 {
    font-size: 18px;
    color: #4C4C4C;
}

.active-header {
    width: 100%;
    -moz-border-radius: 4px 4px 0 0;
    -webkit-border-radius: 4px 4px 0 0;
    border-radius: 4px 4px 0 0;
    color: #4C4C4C;
}

.active-header h1 {
    font-size: 18px;
    color: #4C4C4C;
    font-weight: bold;
}

.inactive-header {
    width: 100%;
    background-repeat: no-repeat;
    background-position: right 50%;
}

.accordion-arrow {
    position: absolute;
    top: 2px;
    left: 30px;
    display: inline-block;
}

.accordion-arrow i {
    color: #ffffff;
    font-size: 38px;
}

.active-header .accordion-arrow i {
    -ms-transform: rotate(90deg); /* IE 9 */
    -webkit-transform: rotate(90deg); /* Chrome, Safari, Opera */
    transform: rotate(90deg);
}
.inactive-header h1 {
    font-size: 18px;
    color: #4C4C4C;
}

.inactive-header:hover {
    background-color: #B8B8B8;
    background-repeat: no-repeat;
    background-position: right 50%;
}

.inactive-header:hover h1 {
    color: #4C4C4C;
}

.accordion-content {
    display: none;
    width: 100%;
    padding: 10px 25px 2px 65px;
    margin-bottom: 1px;
    background: #CBCBCB;
    border-top: 0;
    -moz-border-radius: 0 0 3px 3px;
    -webkit-border-radius: 0 0 3px 3px;
    border-radius: 0 0 3px 3px;
}
