﻿
input.error, select.error, textarea.error, input.cusErrorPanel, cusErrorPanel.cusErrorPanel, textarea.cusErrorPanel {
    border: solid 1px red;
}

div.cusErrorPanel {
    z-index: auto;
    position: absolute;
    width: 276px;
    height: 35px;
    overflow: hidden;
    text-indent: 5px;
    line-height: 40px;
    font-size: 12px;
    font-family: Arial;
    background: url("@Url.Content('~/Content/wdCalendar/css/../Content/images/validation/tooltop.gif')") no-repeat left top;
    opacity: 0.9;
    filter: alpha(opacity=90);
}

.calpick {
    width: 26px;
    height: 35px;
    border: none;
    cursor: pointer;
    position: absolute;
    background: url("@Url.Content('~/Content/wdCalendar/sample-css/cal.gif')") no-repeat center 2px;
    margin-left: -22px;
}

.mask {
    width: 100%;
    height: 100%;
    position: absolute;
    background-color: grey;
    z-index: 1;
    filter: alpha(opacity=80);
    opacity: .8;
}

    .mask div {
        width: 50%;
        text-align: center;
        position: absolute;
        top: 50%;
        left: 25%;
        color: white;
    }

.lstCreateCase {
    width: 300px !important;
    height: 60px;
}


.lstVendors {
    width: 300px !important;
    height: 60px;
}

#ui-datepicker-div {
    z-index: 9999999;
}
