
/* 
    Created on : 01-Nov-2014, 21:10:30
    Author     : Adinarayana
*/

* {
    margin: 0px;
    padding: 0px;
}

* {
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}

body {
    font-family: Helvetica, sans-serif;
    font-size: 13px;
    color: #000000;
}

html, body {
    height: 100%;
}

/* Reset */
*, *:after, *:before {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

.clearfix:before, .clearfix:after {
    content: " ";
    display: table;
}

.clearfix:after {
    clear: both;
}

img {
    border: none;
}
a {
    text-decoration: none;
}
/* rest end */

.wrapper {
    min-height: 100%;
    height: auto !important;
    height: 100%;
    width: 100%;
    background-color: #f6f6f6;
    position: relative;
}

.container {
    margin: 0 auto;
    max-width: 1366px;
    position: relative;
}

.header {
    height: 116px;
    width: 100%;
    background: #ffffff;
    padding-top: 20px;
    position: relative;
    width: 100%;
    z-index: 100;
    border-top: 1px solid #E6E6E6;
}

.header .header-img {
    height: 118px;
    padding-top: 3px;
    background: url(../images/top.png) transparent bottom no-repeat;
    background-size: 100% auto;
    position: absolute;
    top: 0;
    width: 100%;
}

.header .logo {
    padding-left: 36px;
}
.header .logo img {
    width: 282px;
    height: auto;
}

.vender-menu-container {
    background: url(../images/banner-big.jpg);
    background-size: contain;
    background-repeat: no-repeat;
    width: 100%;
    padding-top: 51.4%; /* (img-height / img-width * width) */
    /* (853 / 1280 * 100) */
    /*    border-bottom: 2px solid #E6E6E6;*/
    position: relative;
}

.vender-menu-container-content {
    margin-top: -51.4%;
    max-width: 726px;
}

.about-menu-container {
    background: url(../images/mobile-about.png) no-repeat #ffffff;
    background-repeat: no-repeat;
    background-position: right 31% bottom;
    width: 100%;
    position: relative;
    padding-bottom: 210px;
}

.about-menu-container-content {
    max-width: 726px;
}

.main-menu {
    width: 100%;
    text-align: right;
}

.main-menu ul{
    list-style: none;
    display: inline-block;
    margin-left: 230px;
}

.main-menu ul li {
    float: left;
    margin-left: 4px;

}

.main-menu ul li a {
    padding: 9px 18px;
    color: #727376;
    font-size: 17px;
    text-decoration: none;
    display: block;
    font-weight: bold;
    position: relative;
    border-radius: 4px;
    -moz-border-radius: 4px;
    -webkit-border-radius: 4px;
    -webkit-transition:  color 0.2s;
    -moz-transition:  color 0.2s;
    -o-transition:   color 0.2s;
    -ms-transition:  color 0.2s;
    transition:  color 0.2s;
}

.main-menu ul li a:hover {
    color: #8dc73f;
    -webkit-transition:  color 0.2s;
    -moz-transition:  color 0.2s;
    -o-transition:   color 0.2s;
    -ms-transition:  color 0.2s;
    transition:  color 0.2s;
}

.main-menu ul li.active a{
    background-color: #8dc73f;
    color: #ffffff;
}

.vender-heading {
    margin-top: 50px;
    text-align: center;
}

.vender-heading span {
    color: #8dc73f;
    font-size: 50px;
}

.vender-heading2 {
    color: #636363;
    font-weight: normal;
    font-size: 50px;
    text-align:center;
}

.vender-side-headings {
    margin-top: 20px;
    margin-right: 18px;
}

.vender-side-headings div {
    position: relative;
    margin-bottom: 15px;
}

.vender-side-headings div h3 {
    height: 48px;
    font-size: 22px;
    line-height: 48px;
    font-weight: normal;
    color: #90cf3c;
    background-color: #6e6d72;
    padding-left: 36px;
    position: relative;

}

.vender-sub-shadow {
    -webkit-filter: drop-shadow(2px 2px 5px rgba(0,0,0,0.5));
    filter: url(sileshadow.svg#drop-shadow);
    -ms-filter: "progid:DXImageTransform.Microsoft.Dropshadow(OffX=2, OffY=2, Color='#444')";
    filter: "progid:DXImageTransform.Microsoft.Dropshadow(OffX=2, OffY=2, Color='#444')";

}

.vender-side-headings div h3::after {
    content:'';
    position: absolute;
    border-left: 18px solid #6e6d72;
    border-bottom: 9px solid transparent;
    border-top: 9px solid transparent;
    height: 30px;
    left: 100%;
    top: 0;
    width: 0;
    -webkit-box-sizing: content-box;
    -moz-box-sizing: content-box;
    box-sizing: content-box;
}

.about-content {
    margin-top: 90px;
    margin-left: 78px;
    max-width: 440px;
}

.about-content h2 {
    font-size: 55px;
    font-weight: normal;
    color: #6e6d72;
    margin-bottom: 20px;
}

.about-content .textpara {
    color: #7aaa37;
    font-size: 23px;       
}

.about-strip {
    position: relative;
    background-color: #8dc63f;
    height: 130px;
}

/* about us strip content */
.about-strip .four-column-layout {
    position: absolute;
    width: 100%;
    top: -70px;
    left: 0;
}

.about-strip .four-column-layout .col1 {
    width: 25%;
    float: left;
}

.about-strip .four-column-layout .col2 {
    width: 25%;
    float: left;
    padding-left: 38px;
}

.about-strip .four-column-layout .col3 {
    width: 25%;
    float: left;
    padding-left: 38px;
}

.about-strip .four-column-layout .col4 {
    width: 25%;
    float: left;
    padding-left: 38px;
}

.about-strip-content {
    text-align: center;
    position: relative;
}

.about-strip-content .subheading {
    margin-top: 10px;
    text-align: center;
}

.about-strip-content .subheading h4 {
    color: #727376;
    text-shadow: 1px 1px #b2fd4a;
    font-size: 16px;
}

.about-strip-content ul {
    display: inline-block;
}
.about-strip-content ul li{
    display: inline-block;
    position: relative;
}

.about-strip-content .hologram {
    position: absolute;
    top: -12px;
    left: -30px;
    z-index: 0;
}

.hexagon {
    position: relative;
    width: 119px; 
    height: 68.70px;
    background-color: #727376;
    margin: 34.35px 0;
    border-left: solid 6px #ffffff;
    border-right: solid 6px #ffffff;
    z-index: 20;
}

.hexagon img {
    height: 65px;
    width: auto;
}

.hexagon:before,
.hexagon:after {
    content: "";
    position: absolute;
    width: 84.15px;
    height: 84.15px;
    z-index: -1;
    -webkit-transform: scaleY(0.5774) rotate(-45deg);
    -ms-transform: scaleY(0.5774) rotate(-45deg);
    transform: scaleY(0.5774) rotate(-45deg);
    background-color: inherit;
    left: 11.4271px;
}

.hexagon:before {
    top: -42.0729px;
    border-top: solid 8.4853px #ffffff;
    border-right: solid 8.4853px #ffffff;
}

.hexagon:after {
    bottom: -42.0729px;
    border-bottom: solid 8.4853px #ffffff;
    border-left: solid 8.4853px #ffffff;
}

.about-strip-content ul li:hover .hexagon{
    background-color: #888b90;
}

.about-strip-content ul li:hover .hexagon img{
    height: 70px;
    margin-top: -4px;
    -webkit-transition:  all 0.1s;
    -moz-transition:  all 0.1s;
    -o-transition:   all 0.1s;
    -ms-transition:  all 0.1s;
    transition:  all 0.1s;
}

/* end about strip content */

/* home form wrapper */

.main-from {
    position: relative;
    padding: 20px 24px;
    margin: 40px 0 20px 10px;
    background : url(../images/form_bg.png) transparent;
}

.main-from .two-col-layout {
    width: 100%;
}

.form-heading {
    color: #8dc73f;
    font-size: 18px;
}

.main-from .two-col-layout .col1 {
    width: 50%;
    padding-right: 22px;
    margin: 6px 0;
    float: left;
}

.main-from .two-col-layout .col2 {
    width: 50%;
    padding-left: 22px;
    margin: 6px 0;
    float: left;
}
.main-from .two-col-layout .col1 input[type="text"],
.main-from .two-col-layout .col2 input[type="text"] {
    border: none;
    background-color: #ffffff;
    height: 28px;
    width: 213px;
}

.main-from .two-col-layout .col1,
.main-from .two-col-layout .col2 {
    text-align: right;
}

.main-from .two-col-layout .col1 label,
.main-from .two-col-layout .col2 label {
    line-height: 28px;
    padding-right: 10px;
    font-size: 15px;
    color: #898b8e;
}

.submit-button {
    background-color: #99c338;
    line-height: 34px;
    padding: 0 28px;
    border: none;
    font-size: 15px;
    color: #ffffff;
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    border-radius: 4px;
    cursor: pointer;
    font-weight: bold;
    text-shadow: 0 -1px 1px #636363;
    -moz-box-shadow:0 3px  #659720;
    -webkit-box-shadow: 0 3px  #659720;
    box-shadow: 0 3px  #659720;
    margin-top: 6px;
    -webkit-transition:  background 0.3s, color 0.3s;
    -moz-transition: background 0.3s, color 0.3s;
    -o-transition:  background 0.3s, color 0.3s;
    -ms-transition:  background 0.3s, color 0.3s;
    transition: background 0.3s, color 0.3s;

}

.submit-button:hover {
    background-color: #BAE858;
    -webkit-transition:  background 0.3s, color 0.3s;
    -moz-transition: background 0.3s, color 0.3s;
    -o-transition:  background 0.3s, color 0.3s;
    -ms-transition:  background 0.3s, color 0.3s;
    transition: background 0.3s, color 0.3s;
}
/* home form wrapper */

.support-image-wrap {
    position: relative;
    max-width: 1132px;
    padding-right: 20px;
}

.support-image {
    position: absolute;
    top: -52px;
    right: 0;
}

.support-image img {
    width: 350px;
    height: auto;
}

.supports-para {
    font-size: 12px;
    color: #a6aaad;
    padding-left: 10px;
}

.footer-menu-social-wrap {
    position: relative;
    margin-top: 100px;
    padding-bottom: 25px;
}

.footer-menu {
    float: left;
    margin-left: 24px;
    margin-top: 15px;
    z-index: 500;
}

.footer-menu ul, .footer-menu li {
    list-style: none;
    display: inline-block;
}

.footer-menu li {
    float: left;
}

.footer-menu li.divder {
    margin: 0 3px;
    color: #636363;
    font-weight: bold;
    font-size: 13px;
}

.footer-menu li a {
    padding: 5px 12px;
    color: #636363;
    text-decoration: none;
    font-size: 15px;
    font-weight: bold
}

.footer-menu li a:hover {
    color: #8dc63f;
    -webkit-transition:  color 0.5s;
    -moz-transition:  color 0.5s;
    -o-transition:   color 0.5s;
    -ms-transition:  color 0.5s;
    transition:  color 0.5s;
}

.copy-right {
    padding-top: 50px;
    padding-right: 36px;
    text-align: right;
    width: 100%;
    position: relative;
}

.copy-right span {
    color: #6e6d72;
    font-size: 14px;
}

.footer-img-wrap {
    position: relative;
    width: 100%;
    background-color: transparent
}

.footer-img {
    height: 75px;
    background: url(../images/bot1.png) transparent bottom no-repeat;
    background-size: 100% auto;
    position: absolute;
    top: -50px;
    width: 100%;
    z-index: 20;
}

/* -------------------- responsive css starts with media --------------*/
@media screen and (max-width: 1245px) {
    .vender-menu-container {
        background-size:cover;
        background-repeat: no-repeat;
        padding-top: 0; 
    }

    .vender-menu-container-content {
        margin-top: 0;
    }
}

@media screen and (max-width: 1150px) {
    .about-menu-container {
        background-position: right 34.5% bottom;
    }

    .support-image img {
        width: 310px;
    }
    
    .vender-menu-container {
        background-size:cover;
    }
    
    .footer-img {
        height: 65px;
        top: -40px;
    }

    .copy-right {
        padding-top: 35px;
    }
    
}


.contact-us-container {
    background-color: #ffffff;
    width: 100%;
    position: relative;
}

.contact-us-menu-container-content {
    max-width: 726px;
}

.contact-us-content-wrap {
    margin: 22px 45px 25px 45px;
}

.contact-us-contact {
    max-width: 425px;
    margin-top: 55px;
    float: left;
}

.contact-us-contact p.phone {
    font-size: 29px;
    color: #666666;
}

.contact-us-contact td {
    padding-bottom: 10px;
}

.contact-us-contact p.email {
    font-size: 25px;
    color: #666666;
}

.contact-us-contact-form {
    max-width: 820px;
    background-color: #f6f5f2;
    padding: 20px 20px 30px 20px;
    float: right;
}

.contact-us-contact-form h3 {
    font-size: 18px;
    font-weight: normal;
    color: #666666;
}

.contact-us-contact-form ul {
    list-style: none;
}

.contact-us-contact-form ul li{
    list-style: none;
    margin-bottom: 17px;
}

.contact-us-contact-form input[type="text"] {
    border: none;
    background-color: #ffffff;
    height: 32px;
    width: 237px;
    border-radius: 3px;
    -moz-border-radius: 3px;
    -webkit-border-radius: 3px;
}

.contact-us-contact-form textarea {
    border: none;
    background-color: #ffffff;
    min-height: 180px;
    width: 490px;
    margin-bottom: 17px;
    border-radius: 3px;
    -moz-border-radius: 3px;
    -webkit-border-radius: 3px;
    font-family:sans-serif !important;
    font-size:13px !important;
    font-family: Helvetica, sans-serif;
}

::-webkit-input-placeholder {
    color: #a6aaad;
    padding: 0 10px;
}

:-moz-placeholder { /* Firefox 18- */
    color: #a6aaad;
    padding: 0 10px;
}

::-moz-placeholder {  /* Firefox 19+ */
    color: #a6aaad;
    padding: 0 10px;
}

:-ms-input-placeholder {  
    color: #a6aaad;
    padding: 0 10px;  
}


/* -------------------- responsive css starts with media --------------*/
@media screen and (max-width: 1245px) {
    .vender-menu-container {
        background-size:cover;
        background-repeat: no-repeat;
        padding-top: 0; 
    }

    .vender-menu-container-content {
        margin-top: 0;
    }

    .contact-us-contact{
        max-width: 1024px;
        float: none;
        margin-top: 0;
    }
    .contact-us-contact p.phone {
        font-size: 35px;
        color: #666666;
    }

    .contact-us-contact p.email {
        font-size: 30px;
        color: #666666;
        margin-top: 5px;
    }
    
    
    .contact-us-contact-form {
        margin-top: 40px;
        float: none;
        max-width: 1024px;
    }

    .contact-us-contact-form input[type="text"] {
        border: none;
        background-color: #ffffff;
        height: 32px;
        width: 300px;
    }

    .contact-us-contact-form textarea {
        border: none;
        background-color: #ffffff;
        min-height: 130px;
        width: 590px;
        margin-bottom: 17px;
    }
}