/*
This styles for event calender
*/
/* 
    Created on : 04-Jan-2015, 23:12:14
    Author     : Adinarayana
*/

/* ------------------------event calender--------------------------- */
.case-calender-wrap {
    
    width: 100%;
    position: relative;
}
.calender-container-wrap {
    position:relative;		/* This fixes the IE7 overflow hidden bug and stops the layout jumping out of place */
    clear:both;
    float:left;
    width:100%;			/* width of whole page */
    overflow:hidden;
}

.calender-container-wrap .colright {
    float:left;
    width:200%;
    position:relative;
    left:316px;
}
.calender-container-wrap .evtcalwrap {
    float:right;
    width:50%;
    position:relative;
    right:316px;
}
.calender-container-wrap .calender-container {
    margin:0 0 0 316px;
    position:relative;
    right:100%;
    padding-left: 2.5%;
    overflow:hidden;
}

.calender-container-wrap .cases-wrap {
    float:left;
    width:316px;
    position:relative;
    right:316px;
}

.cal-heading {
    margin-top: 5px;
    margin-bottom: 15px;
    display: table;
}

.cal-priorty-icon {
    display: table-cell;
    height: 50px;
    vertical-align: middle;
}

.cal-priorty-icon i {
    color: #b3b3b3;
    font-size: 40px;
    margin-right: 20px;
}

.cal-heading h1 {
    color: #8cc64a;
    font-size: 32px;
    display: inline-block;
}

.cal-buttons-container {
    margin-bottom: 10px;
}

.cal-grid {
    overflow-y: visible;
    background-color: #CBCBCB;
}

.cal-show-date {
    height: 40px;
    width: 100%;
    background-color: #CBCBCB;
}
.cal-date-selecter {
    height: 39px;
    background-color: #CBCBCB;    
    padding: 0 12px;
    border-radius: 4px 4px 0 0;
    -moz-border-radius: 4px 4px 0 0;
    -webkit-border-radius: 4px 4px 0 0;
}
.cal-date-selecter-table {
    width: 100%;
    display: table;
    height: 100%;
    position: relative;
}

.cal-date-selecter-table-cell {
    height: 100%; 
    display: table-cell;
    float: left;
}

.fbprevbuttion, .fbnextbuttion {
    position: absolute;
    top: 0;
    height: 39px;
}

.fbnextbuttion {
    right: 0;
}

.show-date-div {
    width: 100%;
    text-align: center;
}

.show-date-div span {
    line-height: 39px;
    color: #000000;
    font-size: 18px;
    cursor: pointer;
}

.fbprevbuttion span, .fbnextbuttion span {
    font-size: 32px;
    color: #3DC467;
    cursor: pointer;
    font-weight: bold;
    line-height: 39px;
}

#sfprevbtn, #sfnextbtn {
    cursor: pointer;
}

span#previousmonthstr, span#nextmonthstr {
    font-size: 17px;
    color: #000000;
    cursor: pointer;
    font-weight: normal;
    line-height: 39px;
}

.create-case-search {
    width: 59.6%;
    float: left;
}
.create-case-button {
    width: 50%;
    padding-right: 5px;
    text-align: center;
    float: left;
    position: relative;
    z-index: 300;
}

.create-case-button a {
    background-color: #8AC54D;
    border-radius: 5px;
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
    text-decoration: none;
    color: #23763D;
    display: block;
    font-size: 20px;
    line-height: 45px;
    -webkit-transition:  all 0.5s;
    -moz-transition: all 0.5s;
    -o-transition:  all 0.5s;
    -ms-transition: all 0.5s;
    transition: all 0.5s;
}
.create-case-button a:hover {
    color: #ffffff;
    -webkit-transition:  all 0.5s;
    -moz-transition: all 0.5s;
    -o-transition:  all 0.5s;
    -ms-transition: all 0.5s;
    transition: all 0.5s;
}
.print-button {
    width: 50%;
    padding-right: 5px;
    text-align: center;
    float: left;
    position: relative;
    z-index: 300;
}

.print-button a {
    background-color: #337AB7;
    border-radius: 5px;
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
    text-decoration: none;
    color: white;
    display: block;
    font-size: 20px;
    line-height: 35px;
    -webkit-transition:  all 0.5s;
    -moz-transition: all 0.5s;
    -o-transition:  all 0.5s;
    -ms-transition: all 0.5s;
    transition: all 0.5s;
}
.print-button a:hover {
    color: #ffffff;
    -webkit-transition:  all 0.5s;
    -moz-transition: all 0.5s;
    -o-transition:  all 0.5s;
    -ms-transition: all 0.5s;
    transition: all 0.5s;
}
.search-case-form-wrap {
    width: 50%;
    float: left;

}
.search-case-form {
    width: 100%;
}
.search-case-form .colleft {
    float:left;
    width:200%;
    margin-left:-47px;
    position:relative;
    right:100%;
    z-index: 55;
}
.search-case-form .col1wrap {
    float:left;
    width:50%;
    position:relative;
    left:50%;
    z-index: 55;
}
.search-case-form .col1 {
    margin:0 0 0 47px;
    overflow:hidden;
}
.search-case-form .col2 {
    float:right;
    width:47px;
    position:relative;
    left:47px;
}
.search-case-form input[type="text"] {
    border-radius: 5px 0 0 5px;
    -moz-border-radius: 5px 0 0 5px;
    -webkit-border-radius: 5px 0 0 5px;
    width: 100%;
    height: 44px;
    border: none;
    outline: none;
    padding: 6px 10px;
    background-color: #ffffff;
}
.search-case-form input[type="text"]:focus {
    border: none;
    box-shadow: none;
    outline: none;
}

.search-case-form .search-button {
    border-radius: 0 5px 5px 0;
    -moz-border-radius: 0 5px 5px 0;
    -webkit-border-radius: 0 5px 5px 0;
    height: 44px;
    width: 47px;
    border: none;
    outline: none;
    background-color: #ffffff;
    color: #3DC467;
    font-size: 23px;
}


.date-case-description {
    margin-bottom: 13px;
    height: 57px;
    width: 100%;
}

.week-month-wrap {
    float: left;
    margin-right: 25px;
}

.week-month-wrap h1 {
    font-size: 25px;
    font-weight: normal;
    color: #ffffff;
}

.week-month-wrap h2 {
    font-size: 28px;
    color: #ffffff;
}

.cases-description {
    float: left;
    margin-top: 16px;
    margin-bottom:10px;
}

.cases-description p {
    color: #525252;
    font-size: 19px;
}

/* ----------------------eta users styles -------------------- */
.eta-wraper {
    width: 100%;
    position: relative;
    max-height: 575px;
    overflow-y: auto;
    overflow-x: hidden;
}
.eta {
    position: relative;
    margin-bottom: 3px;
    width: 100%;
}

/*.eta .not-complete,*/
.eta .pending,
.eta .r1-completed{
    width: 100%; 
    border-collapse: collapse;
    background: -webkit-linear-gradient(#6D6E70 50%, #66676A 50%); /* For Safari 5.1 to 6.0 */
    background: -o-linear-gradient(#6D6E70 50%, #66676A 50%); /* For Opera 11.1 to 12.0 */
    background: -moz-linear-gradient(#6D6E70 50%, #66676A 50%); /* For Firefox 3.6 to 15 */
    background: linear-gradient(#6D6E70 50%, #66676A 50%); /* Standard syntax */
}
.eta .r2-completed {
    width: 100%; 
    border-collapse: collapse;
    background: -webkit-linear-gradient(#FFaa44 50%, #FFaa44 50%); /* For Safari 5.1 to 6.0 */
    background: -o-linear-gradient(#FFaa44 50%, #FFaa44 50%); /* For Opera 11.1 to 12.0 */
    background: -moz-linear-gradient(#FFaa44 50%, #FFaa44 50%); /* For Firefox 3.6 to 15 */
    background: linear-gradient(#FFaa44 50%, #FFaa44 50%); /* Standard syntax */
}
.eta .not-complete {
    width: 100%; 
    border-collapse: collapse;
    background: -webkit-linear-gradient(#743737 50%, #702929 50%); /* For Safari 5.1 to 6.0 */
    background: -o-linear-gradient(#743737 50%, #702929 50%); /* For Opera 11.1 to 12.0 */
    background: -moz-linear-gradient(#743737 50%, #702929 50%); /* For Firefox 3.6 to 15 */
    background: linear-gradient(#743737 50%, #702929 50%); /* Standard syntax */
}

.eta .not-complete .redcolor,
.eta .not-complete .orangecolor,
.eta .not-complete .orangedarkonsitecolor, 
.eta .not-complete .greencolor,
.eta .r1-completed .redcolor,
.eta .r1-completed .orangecolor,
.eta .r1-completed .orangedarkonsitecolor, 
.eta .r1-completed .greencolor,
.eta .r2-completed .redcolor,
.eta .r2-completed .orangecolor,
.eta .r2-completed .orangedarkonsitecolor, 
.eta .r2-completed .greencolor
 {
    width: 25px;
    text-align: center;
    vertical-align: middle;

}

.eta .not-complete {
    background-color: #bd0000;
}

.redcolor {
    background-color: #bd0000;
}

.orangecolor{
    background-color: #AB8B00;
}

.orangedarkonsitecolor {
    background-color:#E6954D;
}

.greencolor{
    background-color: #528800;
}

.lightredcolor {
    background-color: #A32929;
}

.lightorangecolor{
    background-color: #E0C240;
}

.orangeonsitecolor {
background-color : #E6804D;
}



.lightgreencolor{
    background-color: #8AC54D;
}

.eta .r1-completed .status {
    background-color: #424BC5;
}

.eta .r2-completed .status {
    background-color: #6E44C5;
}

.eta .not-complete .redcolor .icon, 
.eta .not-complete .orangecolor .icon ,
.eta .not-complete .orangedarkonsitecolor .icon, 
.eta .not-complete .greencolor .icon, 
.eta .r1-completed .redcolor .icon,
.eta .r1-completed .orangecolor .icon,
.eta .r1-completed .orangedarkonsitecolor .icon,
.eta .r1-completed .greencolor .icon,
.eta .r2-completed .redcolor .icon,
.eta .r2-completed .orangecolor .icon,
.eta .r2-completed .orangedarkonsitecolor .icon,
.eta .r2-completed .greencolor .icon
 {
    width: 16px;
    height: auto;
    -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=35)";
    filter: alpha(opacity=35);
    -moz-opacity: 0.35;
    -khtml-opacity: 0.35;
    opacity: 0.35;
}


.eta .not-complete .lightredcolor,
.eta .not-complete .lightorangecolor,
.eta .not-complete .orangeonsitecolor,
.eta .not-complete .lightgreencolor, 
.eta .r1-completed .lightredcolor,
.eta .r1-completed .lightorangecolor,
.eta .r1-completed .orangeonsitecolor,
.eta .r1-completed .lightgreencolor,
.eta .r2-completed .lightredcolor,
.eta .r2-completed .lightorangecolor,
.eta .r2-completed .orangeonsitecolor,
.eta .r2-completed .lightgreencolor
 {
    padding-left: 10px;
    vertical-align: middle;
    width: 56px;
}

.eta .not-complete .lightredcolor .imgage, 
.eta .not-complete .lightorangecolor .imgage ,
.eta .not-complete .orangeonsitecolor .imgage ,
.eta .not-complete .lightgreencolor .imgage, 
.eta .r1-completed .lightredcolor .imgage,
.eta .r1-completed .lightorangecolor .imgage,
.eta .r1-completed .orangeonsitecolor .imgage,
.eta .r1-completed .lightgreencolor .imgage,
.eta .r2-completed .lightredcolor .imgage,
.eta .r2-completed .lightorangecolor .imgage,
.eta .r2-completed .orangeonsitecolor .imgage,
.eta .r2-completed .lightgreencolor .imgage
 {
    display: inline-block;
    position: relative;
    margin: auto 0;
    margin-top: 4px;
}

.eta .not-complete .lightredcolor .imgage img, 
.eta .not-complete .lightorangecolor .imgage img,
.eta .not-complete .orangeonsitecolor .imgage img,
.eta .not-complete .lightgreencolor .imgage img, 
.eta .r1-completed .lightredcolor .imgage img,
.eta .r1-completed .lightorangecolor .imgage img,
.eta .r1-completed .orangeonsitecolor .imgage img,
.eta .r1-completed .lightgreencolor .imgage img,
.eta .r2-completed .lightredcolor .imgage img,
.eta .r2-completed .lightorangecolor .imgage img,
.eta .r2-completed .orangeonsitecolor .imgage img,
.eta .r2-completed .lightgreencolor .imgage img
{
    width: 63px;
    /*border: 3px solid #bd0000;*/
    border-radius: 4px;
    -moz-border-radius: 4px;
    -webkit-border-radius: 4px;
}
.eta .r2-completed .lightgreencolor
.detailsstyle {
    position: absolute;
    top: -7px;
    right: -7px;
    width: 24px;
    height: 24px;
    border-radius: 50%;
    -moz-border-radius: 50%;
    -webkit-border-radius: 50%;
    text-align: center;
}

.eta .not-complete .status .icon,
.eta .pending .status .icon,
.eta .r1-completed .status .icon,
.eta .r2-completed .status .icon {
    width: 16px;
    height: auto;
    -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=35)";
    filter: alpha(opacity=35);
    -moz-opacity: 0.35;
    -khtml-opacity: 0.35;
    opacity: 0.35;
}

.eta .not-complete .user {
    padding-left: 10px;
    vertical-align: middle;
    width: 88px;
}

.eta .not-complete .user,
.eta .pending .user,
.eta .r1-completed .user,
.eta .r2-completed .user {
    padding-left: 10px;
    vertical-align: middle;
    width: 88px;
}

.eta .not-complete .user .imgage,
.eta .pending .user .imgage,
.eta .r1-completed .user .imgage,
.eta .r2-completed .user .imgage {
    display: inline-block;
    position: relative;
    margin: auto 0;
    margin-top: 4px;
}

.eta-not-complete-wrap .user .imgage img {
    width: 63px;
    border: none; 
    /*border: 3px solid #bd0000;*/
    border-radius: 5px;
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
}

.eta .not-complete .user .imgage img,
.eta .pending .user .imgage img,
.eta .r1-completed .user .imgage img,
.eta .r2-completed .user .imgage img{
    width: 63px;
    /*border: 3px solid #bd0000;*/
    border-radius: 4px;
    -moz-border-radius: 4px;
    -webkit-border-radius: 4px;
}

.eta .pending .user .imgage img,
.eta .r1-completed .user .imgage img,
.eta .r2-completed .user .imgage img{
    width: 60px;
    border: none;
}

.eta .not-complete .user .tasks,
.eta .pending .user .tasks,
.eta .r1-completed .user .tasks,
.eta .r2-completed .user .tasks
 {
    position: absolute;
    top: -7px;
    right: -7px;
    width: 24px;
    height: 24px;
    border-radius: 50%;
    -moz-border-radius: 50%;
    -webkit-border-radius: 50%;
    text-align: center;
}

.eta .not-complete .user .tasks {
    border: 2px solid #753838;
    background-color: #bd0000;
}
.leftPanelAlerts {
    position: absolute;
    top: -7px;
    right: -7px;
    width: 24px;
    height: 24px;
    border-radius: 50%;
    -moz-border-radius: 50%;
    -webkit-border-radius: 50%;
    text-align: center;
    
    color: #ffffff;
    font-size: 15px;
    line-height: 21px;

    border: 2px solid #753838;
    background-color: #8A8A8A;
}
.leftPanelNotification {
    position: absolute;
    top: -7px;
    left: -7px;
    width: 24px;
    height: 24px;
    border-radius: 50%;
    -moz-border-radius: 50%;
    -webkit-border-radius: 50%;
    text-align: center;
    
    color: #ffffff;
    font-size: 15px;
    line-height: 21px;

    border: 2px solid #6E6F71;
    background-color: blue;
}
.leftPanelActualTrays {
    position: absolute;
    top: -7px;
    right: -7px;
    width: 24px;
    height: 24px;
    border-radius: 50%;
    -moz-border-radius: 50%;
    -webkit-border-radius: 50%;
    text-align: center;
    
    color: #ffffff;
    font-size: 15px;
    line-height: 21px;

    border: 2px solid #6E6F71;
    background-color: purple;
}
.expeditedmobile {
    position: absolute;
    top: 1px;
    right: 2px;
    width: 24px;
    height: 24px;
    border-radius: 50%;
    -moz-border-radius: 50%;
    -webkit-border-radius: 50%;
    text-align: center;
    
    color: #ffffff;
    font-size: 15px;
    line-height: 21px;

    border: 2px solid #6E6F71;
    background-color:#ffaa44;
}
.activitiesstyle {
    position: absolute;
    top: -7px;
    right: 115px;
    width: 18px;
    height: 18px;
    border-radius: 50%;
    -moz-border-radius: 50%;
    -webkit-border-radius: 50%;
    text-align: center;
    
    color: #ffffff;
    font-size:12px;
    line-height: 12px;

    border: 2px solid #753838;
    background-color: #bd0000;
}

.newuserrequestsstyle {
    position: absolute;
    top: -7px;
    right: 150px;
    width: 18px;
    height: 18px;
    border-radius: 50%;
    -moz-border-radius: 50%;
    -webkit-border-radius: 50%;
    text-align: center;
    
    color: #ffffff;
    font-size:12px;
    line-height: 12px;

    border: 2px solid #753838;
    background-color: #bd0000;
}

.caserequestsstyle {
    position: absolute;
    top: -7px;
    right: 220px;
    width: 18px;
    height: 18px;
    border-radius: 50%;
    -moz-border-radius: 50%;
    -webkit-border-radius: 50%;
    text-align: center;
    
    color: #ffffff;
    font-size:12px;
    line-height: 12px;

    border: 2px solid #753838;
    background-color: #bd0000;
}

.setcheckinsstyle {
    position: absolute;
    top: -7px;
    right: 185px;
    width: 18px;
    height: 18px;
    border-radius: 50%;
    -moz-border-radius: 50%;
    -webkit-border-radius: 50%;
    text-align: center;
    
    color: #ffffff;
    font-size:12px;
    line-height: 12px;

    border: 2px solid #753838;
    background-color: #bd0000;
}



.eta .pending .user .tasks {
    border: 2px solid #6E6F71;
    background-color: #63A9D6;
}

.eta .r1-completed .user .tasks {
    border: 2px solid #6E6F71;
    background-color: #424BC5;
}

.eta .r2-completed .user .tasks {
    border: 2px solid #6E6F71;
    background-color: #6E44C5;
}

.eta .not-complete .user .tasks span,
.eta .pending .user .tasks span,
.eta .r1-completed .user .tasks span,
.eta .r2-completed .user .tasks span{
    color: #ffffff;
    font-size: 15px;
    line-height: 21px;
}

.eta .not-complete .schedule,
.eta .pending .schedule,
.eta .r1-completed .schedule,
.eta .r2-completed  .schedule {
    padding: 5px 0;
    text-align: left;
    vertical-align: top;
    position: relative;
}

.eta .flag {
    width: 30px;
    height: 30px;
    position: absolute;
    right: -4px;
    top: -3px;
    text-align: right;
    padding: 1px 3px;
}

.eta .flag-bg {
    -ms-transform: rotate(45deg); /* IE 9 */
    -webkit-transform: rotate(45deg); /* Chrome, Safari, Opera */
    transform: rotate(45deg);
    width: 0; 
    height: 0; 
    border-left: 17px solid transparent;
    border-right: 17px solid transparent;
    display: block;
}

.eta .flag i {
    position: absolute;
    top: 6px;
    right: 7px;
    color: #ffffff;
    font-size: 9px;
}

.eta .not-complete .flag-bg {
    border-bottom: 17px solid #BD0000;
}

.eta .pending .flag-bg {
    border-bottom: 17px solid #3DC467;
}

.eta .r1-completed .flag-bg {
    border-bottom: 17px solid #3DC467;
}

.eta .r2-completed .flag-bg {
    border-bottom: 17px solid #3DC467;
}

.eta .schedule-time {
    font-size: 15px;
    font-weight: normal;
    color: #ffffff
}
.eta .schedule-rsid {
    margin-top:2px;
    font-size: 16px;
    font-weight: normal;
    color: #ffffff
}
.eta .schedule-dr {
    font-size: 14px;
    font-weight: bold;
    color: #ffffff;
    margin-bottom: 3px;
}

.eta .schedule-cat {
    font-size: 15px;
    font-weight: bold;
    color: #ffffff
}

.eta .schedule-h1 {
    font-size: 12px;
    color: beige;
    text-align:left;
}

.eta-action-required {
    width: 100%;
    margin: 12px 0 15px 0;
    text-align: center;
}

.eta-action-required i {
    width: 0; 
    height: 0; 
    border-left: 8px solid transparent;
    border-right: 8px solid transparent;
    border-bottom: 12px solid #525252;
    display: inline-block;
}

.eta-action-required span {
    color: #525252;
    font-size: 16px;
    font-weight: bold;
}


.eta-past {
    width: 100%;
    margin: 12px 0 15px 0;
    text-align: center;
}

.eta-past i {
    width: 0; 
    height: 0; 
    border-left: 8px solid transparent;
    border-right: 8px solid transparent;
    border-top: 12px solid #525252;
    display: inline-block;
}

.eta-past span {
    color: #525252;
    font-size: 16px;
    font-weight: bold;
}

.txtVertical 
{
	filter:  progid:DXImageTransform.Microsoft.BasicImage(rotation=3);  /* IE6,IE7 */
	ms-filter: "progid:DXImageTransform.Microsoft.BasicImage(rotation=3)"; /* IE8 */
    transform: rotate(-90deg);
    -ms-transform:rotate(-90deg);
	-moz-transform: rotate(-90deg);  /* FF3.5+ */
	-o-transform: rotate(-90deg);  /* Opera 10.5 */
	-webkit-transform: rotate(-90deg);  /* Safari 3.1+, Chrome */
	position: absolute; 
    font-size:20px;
    font-weight:bold;
    top:40px;
    left:-15px;
    color:yellow;
}

.SterileWrappedImplants {
    position: absolute;
    bottom: -7px;
    right: -7px;
    width: 24px;
    height: 24px;
    border-radius: 50%;
    -moz-border-radius: 50%;
    -webkit-border-radius: 50%;
    text-align: center;
    
    color: #ffffff;
    font-size: 15px;
    line-height: 21px;

    border: 2px solid #6E6F71;
    background-color: grey;
}
/* ----------------------end eta users styles -------------------- */

/*--------------------------end event calender------------------------ */

/* -------------------- responsive css starts with media --------------*/
@media screen and (max-width: 1050px) {
    .case-calender-wrap {
        padding-left: 60px;
    }
    .calender-container-wrap .colright {
        left:300px;
    }
    .calender-container-wrap .evtcalwrap {
        right:300px;
    }
    .calender-container-wrap .calender-container {
        margin:0 0 0 300px;
        padding-left: 1.5%;
    }

    .calender-container-wrap .cases-wrap {
        width:300px;
        right:300px;
    }

    div.ctoolbar div.fbutton span, 
    .create-case-button a {
        font-size: 17px;
    }
}
/* -------------------- responsive css ends with media --------------*/