
/* 
    Created on : 01-Nov-2014, 21:10:30
    Author     : Adinarayana
*/

* {
    margin: 0px;
    padding: 0px;
}

* {
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}

body {
    font-family: Helvetica, sans-serif;
    font-size: 14px;
    color: #4D4D4D;
    background-color: #f6f6f6;
}

html, body {
    height: 100%;
}

/* Reset */
*, *:after, *:before {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

.clearfix:before, .clearfix:after {
    content: " ";
    display: table;
}

.clearfix:after {
    clear: both;
}

img {
    border: none;
}

a {
    text-decoration: none;
}
/* rest end */

.wrapper,
.dashboard-wraper {
    min-height: 100%;
    height: auto !important;
    height: 100%;
    width: 100%;
    max-width: 1366px;
    position: relative;
    margin: 0 auto;
    display: block;
}

.dashboard-wraper {
    background-color: #8A8A8A;
    margin-bottom: -80px;
}

.container {
    position: relative;
}

.header {
    height: 116px;
    width: 100%;
    background: #ffffff;
    padding-top: 20px;
    position: relative;
    width: 100%;
    z-index: 100;
    border-top: 1px solid #E6E6E6;
}

.header .header-img {
    height: 118px;
    padding-top: 3px;
    background: url(../images/top.png) transparent bottom no-repeat;
    background-size: 100% auto;
    position: absolute;
    top: 0;
    width: 100%;
}

.header .dashboard-header-img {
    height: 118px;
    padding-top: 3px;
    background: url(../images/hex.png) transparent bottom no-repeat;
    background-size: 100% auto;
    position: absolute;
    top: 0;
    width: 100%;
}

.header .logo {
    padding-left: 36px;
}

.header .logo img {
    width: 282px;
    height: auto;
}

.vender-menu-container {
    background: url(../images/banner-big.jpg);
    background-size: contain;
    background-repeat: no-repeat;
    width: 100%;
    padding-top: 51.4%; /* (img-height / img-width * width) */
    /* (853 / 1280 * 100) */
    /*    border-bottom: 2px solid #E6E6E6;*/
    position: relative;
}

.vender-menu-container-content {
    margin-top: -51.4%;
    max-width: 710px;
}

.about-menu-container {
    background: url(../images/mobile-about.png) no-repeat #ffffff;
    background-repeat: no-repeat;
    background-position: right 31% bottom;
    width: 100%;
    position: relative;
    padding-bottom: 210px;
}

.about-menu-container-content {
    max-width: 726px;
}

.contact-us-container {
    background-color: #ffffff;
    width: 100%;
    position: relative;
}

.contact-us-menu-container-content {
    max-width: 726px;
}

.contact-us-content-wrap {
    margin: 52px 37px 36px 37px;
}

.contact-us-contact {
    max-width: 425px;
    margin-top: 55px;
    float: left;
}

.contact-us-contact p.phone {
    font-size: 29px;
    color: #656565;
}

.contact-us-contact td {
    padding-bottom: 10px;
}

.contact-us-contact p.email {
    font-size: 25px;
    color: #656565;
}

.contact-us-contact-form {
    max-width: 787px;
    background-color: #f6f5f2;
    padding: 20px 20px 30px 20px;
    float: right;
}

.contact-us-contact-form h3 {
    font-size: 18px;
    font-weight: normal;
    color: #656565;
}

.contact-us-contact-form ul {
    list-style: none;
}

.contact-us-contact-form ul li {
    list-style: none;
    margin-bottom: 17px;
}

.contact-us-contact-form input[type="text"] {
    border: none;
    background-color: #ffffff;
    height: 32px;
    width: 237px;
    border-radius: 3px;
    -moz-border-radius: 3px;
    -webkit-border-radius: 3px;
    padding: 6px 10px;
}

.contact-us-contact-form textarea {
    border: none;
    background-color: #ffffff;
    min-height: 130px;
    width: 490px;
    padding: 6px 10px;
    margin-bottom: 17px;
    border-radius: 3px;
    -moz-border-radius: 3px;
    -webkit-border-radius: 3px;
}

::-webkit-input-placeholder {
    color: #a6aaad;
}

:-moz-placeholder { /* Firefox 18- */
    color: #a6aaad;
    font-size: 14px;
}

::-moz-placeholder { /* Firefox 19+ */
    color: #a6aaad;
    font-size: 14px;
}

:-ms-input-placeholder {
    color: #a6aaad;
    font-size: 14px;
}

.google-maps_wrap {
    background-color: #FFFFFF;
    width: 100%;
    height: 375px;
}

.google-maps {
    position: relative;
    padding-bottom: 35%; /* (450 ÷ 500 = 0.9 = 90%)*/
    height: 0;
    overflow: hidden;
}

.google-maps iframe {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    width: 100%;
    height: 100%;
}

.main-menu {
    width: 100%;
    text-align: right;
}

.main-menu ul {
    list-style: none;
    display: inline-block;
    margin-left: 230px;
}

.main-menu ul li {
    float: left;
    margin-left: 4px;
}

.main-menu ul li a {
    padding: 9px 18px;
    color: #727376;
    font-size: 17px;
    text-decoration: none;
    display: block;
    font-weight: bold;
    position: relative;
    border-radius: 4px;
    -moz-border-radius: 4px;
    -webkit-border-radius: 4px;
    -webkit-transition: color 0.2s;
    -moz-transition: color 0.2s;
    -o-transition: color 0.2s;
    -ms-transition: color 0.2s;
    transition: color 0.2s;
}

.main-menu ul li a:hover {
    color: #8dc73f;
    -webkit-transition: color 0.2s;
    -moz-transition: color 0.2s;
    -o-transition: color 0.2s;
    -ms-transition: color 0.2s;
    transition: color 0.2s;
}

.main-menu ul li.active a {
    background-color: #8dc73f;
    color: #ffffff;
}

.vender-heading {
    margin-top: 30px;
    text-align: right;
}

.vender-heading h1 {
    color: #8dc73f;
    font-size: 43px;
}

.vender-heading2 {
    color: #636363;
    font-weight: normal;
    font-size: 43px;
}

.vender-side-headings {
    margin-top: 20px;
    margin-right: 18px;
}

.vender-side-headings div {
    position: relative;
    margin-bottom: 10px;
}

.vender-side-headings div h3 {
    height: 44px;
    font-size: 21px;
    line-height: 44px;
    font-weight: normal;
    color: #90cf3c;
    background-color: #6e6d72;
    padding-left: 36px;
    position: relative;
}

.vender-sub-shadow {
    -webkit-filter: drop-shadow(2px 2px 5px rgba(0,0,0,0.5));
    filter: url(sileshadow.svg#drop-shadow);
    -ms-filter: "progid:DXImageTransform.Microsoft.Dropshadow(OffX=2, OffY=2, Color='#444')";
    filter: "progid:DXImageTransform.Microsoft.Dropshadow(OffX=2, OffY=2, Color='#444')";
}

.vender-side-headings div h3::after {
    content: '';
    position: absolute;
    border-left: 18px solid #6e6d72;
    border-bottom: 9px solid transparent;
    border-top: 9px solid transparent;
    height: 26px;
    left: 100%;
    top: 0;
    width: 0;
    -webkit-box-sizing: content-box;
    -moz-box-sizing: content-box;
    box-sizing: content-box;
}

.video {
    margin: 15px 0 0 36px;
}
.video .heading {
    margin-bottom: 15px;
}
.video .heading h1 {
    font-size: 21px;
    font-weight: normal;
    color: #90cf3c;
}

.about-content {
    margin-top: 90px;
    margin-left: 78px;
    max-width: 440px;
}

.about-content h2 {
    font-size: 55px;
    font-weight: normal;
    color: #6e6d72;
    margin-bottom: 20px;
}

.about-content .textpara {
    color: #7aaa37;
    font-size: 23px;
}

.about-strip {
    position: relative;
    background-color: #8dc63f;
    height: 130px;
}

/* about us strip content */
.about-strip .four-column-layout {
    position: absolute;
    width: 100%;
    top: -70px;
    left: 0;
}

.about-strip .four-column-layout .col1 {
    width: 25%;
    float: left;
}

.about-strip .four-column-layout .col2 {
    width: 25%;
    float: left;
    padding-left: 38px;
}

.about-strip .four-column-layout .col3 {
    width: 25%;
    float: left;
    padding-left: 38px;
}

.about-strip .four-column-layout .col4 {
    width: 25%;
    float: left;
    padding-left: 38px;
}

.about-strip-content {
    text-align: center;
    position: relative;
}

.about-strip-content .subheading {
    margin-top: 10px;
    text-align: center;
}

.about-strip-content .subheading h4 {
    color: #727376;
    text-shadow: 1px 1px #b2fd4a;
    font-size: 16px;
}

.about-strip-content ul {
    display: inline-block;
}

.about-strip-content ul li {
    display: inline-block;
    position: relative;
}

.about-strip-content .hologram {
    position: absolute;
    top: -12px;
    left: -30px;
    z-index: 0;
}

.hexagon {
    position: relative;
    width: 119px;
    height: 68.70px;
    background-color: #727376;
    margin: 34.35px 0;
    border-left: solid 6px #ffffff;
    border-right: solid 6px #ffffff;
    z-index: 20;
}

.hexagon img {
    height: 65px;
    width: auto;
}

.hexagon:before,
.hexagon:after {
    content: "";
    position: absolute;
    width: 84.15px;
    height: 84.15px;
    z-index: -1;
    -webkit-transform: scaleY(0.5774) rotate(-45deg);
    -ms-transform: scaleY(0.5774) rotate(-45deg);
    transform: scaleY(0.5774) rotate(-45deg);
    background-color: inherit;
    left: 11.4271px;
}

.hexagon:before {
    top: -42.0729px;
    border-top: solid 8.4853px #ffffff;
    border-right: solid 8.4853px #ffffff;
}

.hexagon:after {
    bottom: -42.0729px;
    border-bottom: solid 8.4853px #ffffff;
    border-left: solid 8.4853px #ffffff;
}

.about-strip-content ul li:hover .hexagon {
    background-color: #888b90;
}

.about-strip-content ul li:hover .hexagon img {
    height: 70px;
    margin-top: -4px;
    -webkit-transition: all 0.1s;
    -moz-transition: all 0.1s;
    -o-transition: all 0.1s;
    -ms-transition: all 0.1s;
    transition: all 0.1s;
}

/* --------------------end about strip content--------------- */

/* ------------------------home form wrapper--------------- */

.main-form {
    position: relative;
    padding: 20px 24px;
    margin: 25px 0 20px 36px;
    max-width: 730px;
    background-color: #CCCCCC;
    border-radius: 4px;
    -moz-border-radius: 4px;
    -webkit-border-radius: 4px;
}

.main-form .two-col-layout {
    width: 100%;
}

.form-heading {
    color: #8dc73f;
    font-size: 18px;
}

.main-form .two-col-layout .col1 {
    width: 50%;
    padding-right: 22px;
    margin: 6px 0;
    float: left;
}

.main-form .two-col-layout .col2 {
    width: 50%;
    padding-left: 22px;
    margin: 6px 0;
    float: left;
}
.main-form .two-col-layout .col1 input[type="text"],
.main-form .two-col-layout .col2 input[type="text"] {
    border: none;
    background-color: #ffffff;
    height: 28px;
    width: 213px;
    padding: 2px 10px;
}

.main-form .two-col-layout .col1,
.main-form .two-col-layout .col2 {
    text-align: right;
}

.main-form .two-col-layout .col1 label,
.main-form .two-col-layout .col2 label {
    line-height: 28px;
    padding-right: 10px;
    font-size: 15px;
    color: #656565;
}

.submit-button {
    background-color: #99c338;
    line-height: 34px;
    padding: 0 28px;
    border: none;
    font-size: 15px;
    color: #ffffff;
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    border-radius: 4px;
    cursor: pointer;
    font-weight: bold;
    text-shadow: 0 -1px 1px #636363;
    -moz-box-shadow: 0 3px #659720;
    -webkit-box-shadow: 0 3px #659720;
    box-shadow: 0 3px #659720;
    margin-top: 6px;
    -webkit-transition: background 0.3s, color 0.3s;
    -moz-transition: background 0.3s, color 0.3s;
    -o-transition: background 0.3s, color 0.3s;
    -ms-transition: background 0.3s, color 0.3s;
    transition: background 0.3s, color 0.3s;
}

.submit-button:hover {
    background-color: #BAE858;
    -webkit-transition: background 0.3s, color 0.3s;
    -moz-transition: background 0.3s, color 0.3s;
    -o-transition: background 0.3s, color 0.3s;
    -ms-transition: background 0.3s, color 0.3s;
    transition: background 0.3s, color 0.3s;
}
/* -------------------------home form wrapper-------------------- */

.support-image-wrap {
    position: relative;
    max-width: 1232px;
    padding-right: 20px;
}

.support-image {
    position: absolute;
    top: -52px;
    right: 0;
}

.support-image img {
    width: 410px;
    height: auto;
}

.supports-para {
    font-size: 12px;
    color: #a6aaad;
    padding-left: 10px;
}

.footer-menu-social-wrap {
    position: relative;
    margin-top: 15px;
    padding-bottom: 25px;
}

.footer-menu-social-wrap-contact {
    position: relative;
    margin-top: 15px;
    padding-bottom: 25px;
}

.footer-menu {
    float: left;
    margin-left: 24px;
    margin-top: 15px;
    z-index: 500;
}

.footer-menu ul, .footer-menu li {
    list-style: none;
    display: inline-block;
}

.footer-menu li {
    float: left;
}

.footer-menu li.divder {
    margin: 0 3px;
    color: #636363;
    font-weight: bold;
    font-size: 13px;
}

.footer-menu li a {
    padding: 5px 12px;
    color: #636363;
    text-decoration: none;
    font-size: 15px;
    font-weight: bold;
}

.footer-menu li a:hover {
    color: #8dc63f;
    -webkit-transition: color 0.5s;
    -moz-transition: color 0.5s;
    -o-transition: color 0.5s;
    -ms-transition: color 0.5s;
    transition: color 0.5s;
}

.copy-right {
    padding-top: 50px;
    padding-right: 36px;
    text-align: right;
    width: 100%;
    position: relative;
}

.copy-right span {
    color: #6e6d72;
    font-size: 14px;
}

.footer-img-wrap {
    position: relative;
    width: 100%;
    background-color: transparent;
}

.footer-img {
    height: 75px;
    background: url(../images/bot1.png) transparent bottom no-repeat;
    background-size: 100% auto;
    position: absolute;
    top: -50px;
    width: 100%;
    z-index: 20;
}

.dashboard-footer, .push {
    height: 80px; /* .push must be the same height as .footer */
    clear: both;
}

.dashboard-footer {
    background-color: #4D4D4D;
    max-width: 1366px;
    margin: 0 auto;
    padding-bottom: 30px;
    position: relative;
}

.dashboard-footer .footer-menu {
    float: left;
    margin-left: 24px;
    z-index: 10;
}

.dashboard-footer .footer-menu li.divder,
.dashboard-footer .footer-menu li a {
    color: #ffffff;
}

.dashboard-footer .footer-menu li a:hover {
    color: #8dc63f;
    -webkit-transition: color 0.5s;
    -moz-transition: color 0.5s;
    -o-transition: color 0.5s;
    -ms-transition: color 0.5s;
    transition: color 0.5s;
}

.dashboard-footer .copy-right {
    padding: 0;
    padding-right: 36px;
    text-align: right;
    width: auto;
    position: relative;
    display: inline-block;
    float: right;
}

.dashboard-footer .footer-menu,
.dashboard-footer .copy-right {
    margin-top: 30px;
}

.dashboard-footer .copy-right span {
    color: #ffffff;
    font-size: 14px;
}

.main-container-wrap {
    height: auto;
    background-color: #8A8A8A;
    padding: 30px 15px 30px 18px;
    margin-left: 66px;
}

.main-container-form-wrap {
    background-color: #CCCCCC;
    height: auto;
    margin-top: 18px;
    padding: 20px 40px 20px 40px;
    border-radius: 5px;
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
}

/*------------------- search case and dashboard layout --------------*/

.search-case-n-dashboard-wrap {
    height: auto;
    background-color: #F1F1F1;
    padding: 32px 40px 18px 40px;
}

.search-header-wrap {
    width: auto;
    display: inline-block;
    position: absolute;
    right: 20px;
    top: 23px;
    z-index: 100;
}

.search-header-wrap div {
    float: left;
}

.search-header-wrap div input[type="text"] {
    height: 35px;
    width: 190px;
    outline: none;
    padding: 6px 10px;
    background-color: #ffffff;
    border: 2px solid #B3B3B3;
    border-right: none;
}

.search-header-wrap div input[type="text"]:focus {
    box-shadow: none;
    outline: none;
}

.search-header-wrap div .border-radius-left {
    border-radius: 4px 0 0 4px;
    -moz-border-radius: 4px 0 0 4px;
    -webkit-border-radius: 4px 0 0 4px;
}

.search-header-wrap div .search-button {
    border-radius: 0 4px 4px 0;
    -moz-border-radius: 0 4px 4px 0;
    -webkit-border-radius: 0 4px 4px 0;
    height: 35px;
    width: 60px;
    border: 2px solid #B3B3B3;
    outline: none;
    background-color: #B3B3B3;
    color: #ffffff;
    font-size: 23px;
}

.dashboard-user-wrap {
    width: auto;
    display: inline-block;
    float: right;
    position: relative;
    margin: 15px 40px 0 0;
    z-index: 200;
}

.dashboard-user-wrap div {
    margin-left: 8px;
    float: left;
    display: inline-block;
}

.dashboard-user-wrap div .menu-button {
    border-radius: 3px;
    -moz-border-radius: 3px;
    -webkit-border-radius: 3px;
    height: 34px;
    background-color: #B2B2B2;
    color: #ffffff;
    font-size: 17px;
    display: block;
    padding: 0 15px;
    line-height: 34px;
}

.dashboard-user-wrap div .menu-button,
.dashboard-user-wrap div .menu-button:hover {
    -webkit-transition: background 0.5s;
    -moz-transition: background 0.5s;
    -o-transition: background 0.5s;
    -ms-transition: background 0.5s;
    transition: background 0.5s;
}

.dashboard-user-wrap div .menu-button:hover {
    background-color: #8AC54D;
}

.dashboard-user-wrap div .menu-button.active {
    background-color: #8AC54D;
}

.dashboard-user {
    display: inline-block;
    position: relative;
    margin-top: -12px;
}

.dashboard-user img {
    border: 3px solid #ffffff;
    width: auto;
    height: 58px;
    border-radius: 4px;
    -moz-border-radius: 4px;
    -webkit-border-radius: 4px;
}

.dashboard-user .indicator {
    position: absolute;
    top: 14px;
    right: -18px;
    width: 30px;
    height: 30px;
    padding-top: 5px;
    background-color: #BD0000;
    text-align: center;
    border-radius: 50%;
    -moz-border-radius: 50%;
    -webkit-border-radius: 50%;
}

.dashboard-user .indicator i {
    color: #ffffff;
    font-size: 18px;
}

/*-------------------end search case and dashboard layout --------------*/

/* ---------------------- side menu starts------------------------------*/
#side-menu {
    position: fixed;
    top: 28%;
    left: 0;
    z-index: 1500;
    width: 70px;
}

#side-menu ul {
    width: 100%;
    list-style: none;
}

#side-menu ul li {
    list-style: none;
    margin: 0;
    padding: 0;
    display: block;
    text-align: center;
}

#side-menu ul li a {
    width: 100%;
    display: block;
    padding: 6px 0 11px 0px;
    background-color: #2F373A;
    color: #8AC54D;
    -webkit-transition: all 0.5s;
    -moz-transition: all 0.5s;
    -o-transition: all 0.5s;
    -ms-transition: all 0.5s;
    transition: all 0.5s;
}

#side-menu ul li:first-child a {
    border-radius: 0 5px 0 0;
    -moz-border-radius: 0 5px 0 0;
    -webkit-border-radius: 0 5px 0 0;
}

#side-menu ul li:last-child a {
    border-radius: 0 0 5px 0;
    -moz-border-radius: 0 0 5px 0;
    -webkit-border-radius: 0 0 5px 0;
}

#side-menu ul li a .imgicons {
    width: 42px;
    height: auto;
    text-align: center;
    margin: 0 auto;
    -webkit-transition: all 0.5s;
    -moz-transition: all 0.5s;
    -o-transition: all 0.5s;
    -ms-transition: all 0.5s;
    transition: all 0.5s;
    position: relative;
}

#side-menu ul li a p {
    width: 100%;
    font-size: 12px;
}

#side-menu ul li a:hover {
    background-color: #3F494B;
    -webkit-transition: all 0.5s;
    -moz-transition: all 0.5s;
    -o-transition: all 0.5s;
    -ms-transition: all 0.5s;
    transition: all 0.5s;
}

#side-menu ul li.active a {
    background-color: #3F494B;
}

#side-menu ul li a:hover div.imgicons div {
    -webkit-transition: all 0.5s;
    -moz-transition: all 0.5s;
    -o-transition: all 0.5s;
    -ms-transition: all 0.5s;
    transition: all 0.5s;
}

#side-menu ul li a .imgicons img {
    width: 100%;
    height: auto;
    visibility: hidden;
}

#side-menu ul li a .imgicons .search {
    background: url('../images/icons/search.png') no-repeat;
    -o-background-size: 100% auto;
    -moz-background-size: 100% auto;
    -webkit-background-size: 100% auto;
    background-size: 100% auto;
    display: inline-block;
    margin-bottom: -3px;
}

#side-menu ul li.active a .imgicons .search,
#side-menu ul li:hover a .imgicons .search {
    background: url('../images/icons/search1.png') no-repeat;
    -o-background-size: 100% auto;
    -moz-background-size: 100% auto;
    -webkit-background-size: 100% auto;
    background-size: 100% auto;
    display: inline-block;
    margin-bottom: -3px;
}

#side-menu ul li a .imgicons .create {
    background: url('../images/icons/create.png') no-repeat;
    -o-background-size: 100% auto;
    -moz-background-size: 100% auto;
    -webkit-background-size: 100% auto;
    background-size: 100% auto;
    display: inline-block;
    margin-bottom: -3px;
    margin-top: 3px;
}

#side-menu ul li.active a .imgicons .create,
#side-menu ul li:hover a .imgicons .create {
    background: url('../images/icons/create1.png') no-repeat;
    -o-background-size: 100% auto;
    -moz-background-size: 100% auto;
    -webkit-background-size: 100% auto;
    background-size: 100% auto;
    display: inline-block;
    margin-bottom: -3px;
    margin-top: 3px;
}

#side-menu ul li a .imgicons .calender {
    background: url('../images/icons/calender.png') no-repeat;
    -o-background-size: 100% auto;
    -moz-background-size: 100% auto;
    -webkit-background-size: 100% auto;
    background-size: 100% auto;
    display: inline-block;
    margin-bottom: -3px;
}

#side-menu ul li.active a .imgicons .calender,
#side-menu ul li:hover a .imgicons .calender {
    background: url('../images/icons/calender1.png') no-repeat;
    -o-background-size: 100% auto;
    -moz-background-size: 100% auto;
    -webkit-background-size: 100% auto;
    background-size: 100% auto;
    display: inline-block;
    margin-bottom: -3px;
}

#side-menu ul li a .imgicons .rep {
    background: url('../images/icons/rep.png') no-repeat;
    -o-background-size: 100% auto;
    -moz-background-size: 100% auto;
    -webkit-background-size: 100% auto;
    background-size: 100% auto;
    display: inline-block;
    margin-bottom: -3px;
}

#side-menu ul li.active a .imgicons .rep,
#side-menu ul li:hover a .imgicons .rep {
    background: url('../images/icons/rep1.png') no-repeat;
    -o-background-size: 100% auto;
    -moz-background-size: 100% auto;
    -webkit-background-size: 100% auto;
    background-size: 100% auto;
    display: inline-block;
    margin-bottom: -3px;
}

/*#side-menu ul li.active a .imgicons .search {
    background: url('images/icon/search1.png') no-repeat;
    -o-background-size: 100% auto;
    -moz-background-size: 100% auto;
    -webkit-background-size: 100% auto;
    background-size: 100% auto;
    display: inline-block;
    margin-bottom: -3px;
}*/

/* ---------------------- side menu starts------------------------------*/

/* -------------------- main home application page -----------------*/
.home-categories-wrap {
    margin: 20px auto;
    max-width: 1000px;
    position: relative;
}

.home-category {
    width: 18%;
    display: inline-block;
    margin: 10px;
    padding: 20px 0 30px 0;
    text-align: center;
    background-color: #8AC54D;
    border-radius: 7px;
    -moz-border-radius: 7px;
    -webkit-border-radius: 7px;
    float: left;
}

.home-categories-wrap .graybg {
    background-color: #9C9C9C;
}

.home-category:hover,
.home-categories-wrap .graybg:hover {
    -webkit-transition: background 0.5s;
    -moz-transition: background 0.5s;
    -o-transition: background 0.5s;
    -ms-transition: background 0.5s;
    transition: background 0.5s;
}

.home-category:hover {
    background-color: #7CB145;
}

.home-categories-wrap .graybg:hover {
    background-color: #989898;
}

.home-category .text,
.home-category .textg {
    height: 48px;
    width: 100%;
}

.home-category .text h2,
.home-category .textg h2 {
    color: #163F12;
    font-weight: normal;
    font-size: 19px;
}

.home-category .textg h2 {
    color: #B4B0B0;
}

.home-category .icon,
.home-category .icong {
    height: 64px;
    width: 100%;
    margin-top: 3px;
}

.home-category .icon img,
.home-category .icong img {
    height: 64px;
    width: auto;
    display: inline-block;
    border: none;
}

.home-category .icong img {
    -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=35)";
    filter: alpha(opacity=30);
    -moz-opacity: 0.3;
    -khtml-opacity: 0.3;
    opacity: 0.3;
}

/* -------------------- end main home application page -----------------*/

.main-headings {
    position: relative;
    width: 100%;
}

.main-headings table {
    border-collapse: collapse;
    display: inline-block;
    width: auto;
}

.main-headings table td {
    vertical-align: middle;
    padding-right: 22px;
}

.main-headings .icon {
    height: 48px;
    width: auto;
}

.main-headings .iconopcity {
    -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=35)";
    filter: alpha(opacity=35);
    -moz-opacity: 0.35;
    -khtml-opacity: 0.35;
    opacity: 0.35;
}

.main-headings h1 {
    color: #8cc64a;
    font-size: 32px;
    font-weight: normal;
    display: inline-block;
}

.from-buttons-wrap {
    width: 100%;
    position: relative;
    text-align: right;
    margin-top: 5px;
    margin-bottom: 5px;
}

.from-buttons {
    text-align: center;
    display: inline-block;
    margin-right: 20px;
}

.button,
.buttong {
    height: 48px;
    display: inline-block;
    line-height: 44px;
    border: none;
    font-size: 20px;
    color: #ffffff;
    padding: 0 25px;
    cursor: pointer;
    margin-right: 3px;
    background-color: #9C9C9C;
    border-radius: 5px;
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
    -webkit-transition: background 0.5s;
    -moz-transition: background 0.5s;
    -o-transition: background 0.5s;
    -ms-transition: background 0.5s;
    transition: background 0.5s;
}

.buttong {
    background-color: #9D9D9D;
}

.button:hover,
.buttong:hover {
    background-color: #3DC467;
    -webkit-transition: background 0.5s;
    -moz-transition: background 0.5s;
    -o-transition: background 0.5s;
    -ms-transition: background 0.5s;
    transition: background 0.5s;
}

.button-small {
    height: 42px;
    line-height: 40px;
    font-size: 18px;
}

/* -------------------- start create new case -----------------*/
.case-form-wrap {
    margin-top: 15px;
    margin-left: 20px;
    margin-bottom: 40px;
}

.case-form-wrap table {
    width: auto;
    border-collapse: collapse;
}

.case-form-wrap table td {
    padding: 10px 0 0 0;
    position: relative;
}

.case-form-wrap table td label {
    color: #4D4D4D;
    font-size: 15px;
}

.case-form-wrap table tr.notes td {
    padding: 4px 0 0 0;
}

.case-form-wrap table tr.notes td span {
    color: #4D4D4D;
    font-size: 14px;
}

.case-form-wrap table td.left {
    vertical-align: middle;
    text-align: right;
    padding-right: 15px;
}

.case-form-wrap table td.mandatory {
    vertical-align: top;
    text-align: left;
    padding-left: 5px;
}

.mandatory i {
    color: #DB6060;
    font-size: 9px;
}

.date-icon {
    float: left;
    position: relative;
    margin-right: 5px;
}

.date-icon span {
    position: absolute;
    top: 0;
    right: 0;
    color: #63A8D5;
    z-index: 2;
    font-weight: bold;
    display: block;
    width: 35px;
    height: 35px;
    font-size: 25px;
    line-height: 35px;
    text-align: center;
    pointer-events: none;
}

.case-form-wrap table tr.date-time td {
    padding-top: 3px;
}

.left-table {
    float: left;
    display: inline-block;
    margin-right: 60px;
}

.form-input {
    height: 35px;
    width: 100%;
    border: 1px solid #ffffff;
    font-size: 15px;
    padding: 0 10px;
    border-radius: 3px;
    -moz-border-radius: 3px;
    -webkit-border-radius: 3px;
    background-color: #ffffff;
}

.form-input:focus {
    box-shadow: 0 0 5px 1px #63A8D5;
    -moz-box-shadow: 0 0 5px 1px #63A8D5;
    -webkit-box-shadow: 0 0 5px 1px #63A8D5;
    box-shadow: 0 0 5px 1px #63A8D5;
}

.form-input-select {
    padding-right: 2px;
}

.selcticon {
    position: relative;
    width: auto;
    float: left;
}

.selcticon span {
    position: absolute;
    top: 1px;
    right: 0;
    color: #8A8A8A;
    z-index: 2;
    font-weight: bold;
    display: block;
    width: 26px;
    height: 33px;
    background-color: #ffffff;
    border: 1px solid #ffffff;
    font-size: 22px;
    line-height: 24px;
    text-align: left;
    pointer-events: none;
    border-radius: 3px;
    -moz-border-radius: 3px;
    -webkit-border-radius: 3px;
}

.form-textarea {
    height: 70px;
}

.in-width355 {
    width: 340px;
}

.in-width330 {
    width: 330px;
}

.in-width226 {
    width: 226px;
}

.in-width246 {
    width: 246px;
}

.in-width96 {
    width: 96px;
}

.in-width86 {
    width: 86px;
}

.in-width147 {
    width: 147px;
}

.in-width168 {
    width: 168px;
}
/* -------------------- end create new case -----------------*/

/*----------------- set check in -------------------------*/
.check-in-wrap {
    padding: 15px 0;
}

.check-in {
    position: relative;
    float: left;
    width: 100%;    
}

.check-in-info {
    position: relative;
    width: 100%;
}

.check-in-info table {
    width: auto;
    border-collapse: collapse;
    margin-left: 30px;
}

.check-in-info table td {
    padding: 0 35px 18px 0;
    vertical-align: top;
    text-align: left;
}

.check-in-info table td.right {
    vertical-align: top;
    text-align: right;
}

.check-in-info table td span {
    color: #4C4C4C;
    font-size: 16px;
}

.check-in-info table td span.bold {
    font-weight: bold;
}

.check-in-tray-info {
    width: 100%;
    position: relative;
    margin-top: 10px;
}

.check-in-tray-info table {
    border-collapse: collapse;
    border: 1px solid #ffffff;
    width: 100%;
}

.check-in-tray-info table th {
    height: 35px;
    vertical-align: middle;
    text-align: center;
    color: #ffffff;
    font-size: 15px;
    font-weight: normal;
    border: 1px solid #ffffff;
    background-color: #B1B1B1;
}

.check-in-tray-info table td {
    vertical-align: middle;
    text-align: center;
    padding: 6px 0;
    color: #4C4C4C;
    font-size: 15px;
    border: 1px solid #ffffff;
}

.edit-tray {
    color: #6DA244;
    text-decoration: underline;
    margin-right: 13px;
    font-weight: bold;
}

.delele-tray {
    color: #BC0201;
    text-decoration: underline;
    font-weight: bold;
}

.tray-note {
    width: 100%;
}

.tray-note p {
    color: #4C4C4C;
    font-size: 12px;
}

.tray-note p span {
    font-weight: bold;
}

.check-in-capture {
    position: relative;
    float: right;
    width: auto;
}

.camera {
    /*background-color: #ffffff;*/
    position: relative;
    height: 270px;
    width: 340px;
    float: left;
}

.capture-details {
    float: left;
    width: 320px;
    padding-left: 25px;
    margin-top: 135px;
}

.capture-details div {
    margin: 10px 0;
    position: relative;
    float: none;
}

.capture-details div:first-child {
    margin-top : 0;
}

.popup-overlay
{
    z-index: 2000;
    display:none;
    min-width: 300px;
    background: rgba(0, 0, 0, 0.1);
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    -ms-box-sizing: border-box;
    -webkit-tap-highlight-color: rgba(0, 0, 0, 0.1);
    position: fixed;
    top: 0px;
    left: 0px;
    width: 100%;
    height: 100%;
}

.popup-bg
{
    width: 100%;
    height: 100%;
}

.popup-cont
{
    position: relative;
    top: 50%;
    -webkit-transform: translateY(-50%);
    -moz-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    transform: translateY(-50%);
    border: none;
}

.popup-content
{
    margin: 0 auto;
    background: #E5E5E5;
    padding: 30px 40px 35px 40px;
    text-align: left;
    max-width: 670px;
    position: relative;
    border-radius: 10px;
    -moz-border-radius: 10px;
    -webkit-border-radius: 10px;
    -moz-box-shadow:0 0 30px 2px #4D4D4D;
    -webkit-box-shadow: 0 0 30px 2px #4D4D4D;
    box-shadow: 0 0 30px 2px #4D4D4D;
}

.popup-overlay .popup-content
{
    width: 97%;	
}

.popup-content .subheading h2 {
    color: #8AC54D;
    font-size: 20px;
    font-weight: normal;
}

.popup-content .details {
    margin: 20px 0 30px 0;
    width: auto;
}

.popup-content .details .leftpane {
    float: left;
    position: relative;
}
.popup-content .details .leftpane .inputs {
    margin: 8px 0;
}

.popup-content .details .leftpane .inputs:first-child {
    margin-top: 0;
}

.popup-content .details .leftpane .col1 {
    float: left;
    width: 50px;
    text-align: right;
    position: relative;
    padding-right: 20px;
}

.popup-content .details .leftpane .col1 label {
    line-height: 35px;
}

.popup-content .details .leftpane .col2 {
    float: left;
    width: auto;
    position: relative
}

.popup-content .details .rightpane {
    float: right;
}

.popup-content .details .rightpane img {
    height: 165px;
    width: auto;
}
/*----------------- end set check in -------------------------*/

/*----------------- case details -------------------------*/
.case-datails-wrap {
    position: relative;
    width: 100%;
    margin-top: 20px;
}

.case-datails-case-wrap {
    margin: 15px 0 40px 0;
}

.case-datails-case-wrap .leftpanel {
    float: left;
    width: 42%;
    border-right: 1px solid #ffffff;
}

.case-datails-case-wrap .leftpanel table {
    border-collapse: collapse;
}

.case-datails-case-wrap .leftpanel table td {
    padding: 0 18px 24px 18px;
    font-size: 14px;
    color: #4C4C4C;
    vertical-align: top;
    text-align: left;
    font-weight: bold;
}

.case-datails-case-wrap .leftpanel table tr:last-child td {
    padding: 0 18px;
}

.case-datails-case-wrap .leftpanel table td.left {
    vertical-align: top;
    text-align: right;
    font-weight: normal;
}

.case-datails-case-wrap .rightpanel {
    float: left;
    width: 58%;
    padding-left: 3%;
}

.case-datails-case-wrap .rightpanel p {
    margin-left: 6px;
}

.users-in-case {
    position: relative;
    margin-top: 10px;
}

.users-in-case img {
    position: relative;
    display: inline-block;
    height: 60px;
    width: auto;
    border: none;
    float: left;
    margin: 6px;
    border-radius: 3px;
    -moz-border-radius: 3px;
    -webkit-border-radius: 3px;
}

.case-datails-implents-wrap {
    margin-bottom: 15px;
}

.case-datails-implents-wrap ul {
    margin-bottom: 20px;
}

.case-datails-implents-wrap ul,
.case-datails-implents-wrap ul li {
    list-style: none;
}

.case-datails-implents-wrap ul li {
    list-style: none;
    float: left;
    padding: 2px 0;
    font-weight: bold;
}

.case-datails-implents-wrap ul li a {
}

.case-datails-implents-wrap ul li.divder {
    margin: 0 8px;
}

.case-datails-implents-wrap .leftpanel {
    float: left;
    width: 77.7%;
    padding-right: 3.3%;
    border-right: 1px solid #ffffff;
}

.case-datails-implents-wrap .rightpanel {
    float: left;
    width: 22.3%;
    padding-left: 3%;
}

.case-datails-implents-wrap .rightpanel p {
    margin-left: 6px;
}

.case-commun-wrap {
    width: 100%;
    position: relative;
}

.communication {
    width: 680px;
    margin: 0 auto;
    border: 1px solid #ffffff;
}

.communication .header-div {
    background-color: #B2B2B2;
    padding: 8px 0 8px 30px;
    position: relative;
    border-bottom: 1px solid #ffffff;
}

.communication .header-div span {
    font-size: 18px;
}

.communication .header-div .date {
    position: absolute;
    right: 15px;
    top: 10px;
}

.communication .header-div .date span {
    font-size: 16px;
    color: #ffffff;
}

.communication .user-chat-content-wrap {
    min-height: 380px;
    position: relative;
}

.chat-content {
    width: 100%;
    max-height: 380px;
    overflow-y: auto;
    position: absolute;
    padding: 20px 30px 0 30px;
    bottom: 0;
}

.chat-content table.sender,
.chat-content table.receiver {
    width: 100%;
    border-collapse: collapse;
    margin: 8px 0;
}

.chat-content table.sender td.user,
.chat-content table.receiver td.user {
    width: 60px;
    vertical-align: top;
}

.chat-content table.sender td.user img,
.chat-content table.receiver td.user img {
    width: 100%;
    height: auto;
    border-radius: 3px;
    -moz-border-radius: 3px;
    -webkit-border-radius: 3px;
}
.chat-content table.sender td.usertext,
.chat-content table.receiver td.usertext {
    vertical-align: top;
    text-align: left;
}

.chat-content table.receiver td.usertext {
    vertical-align: top;
    text-align: right;
}

.chat-content table.sender td.usertext div,
.chat-content table.receiver td.usertext div {
    display: inline-block;
    position: relative;
    padding: 10px 16px 8px 16px;
    margin-left: 14px;
    background-color: #ffffff;
    border-radius: 5px;
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
}
.chat-content table.receiver td.usertext div {
    background-color: #B2B2B2;
    margin-left: 0;
    margin-right: 14px;
    text-align: right;
}

.chat-content table.sender td.usertext div:before,
.chat-content table.receiver td.usertext div:after {
    content: "";
    position: absolute;
    display: block;
    top: 10px;
    width: 0;
    height: 0;
    border-top: 6px solid transparent;
    border-bottom: 6px solid transparent;
    border-right: 6px solid #ffffff;
}

.chat-content table.sender td.usertext div:before {
    left: -6px;
}

.chat-content table.receiver td.usertext div:after {
    top: 10px;
    right: -6px;
    border-right: none;
    border-left: 6px solid #B2B2B2;
}

.chat-content table.sender td.usertext div .message,
.chat-content table.receiver td.usertext div .message {
    font-size: 16px;
    margin-bottom: 10px;
}

.chat-content table.sender td.usertext div .time,
.chat-content table.receiver td.usertext div .time {
    color: #989898
}

.chat-content table.critical td.usertext div,
.chat-content table.critical td.usertext div {
    background-color: #BC0201;
}

.chat-content table.critical td.usertext div:before {
    border-right: 6px solid #BC0201;
}

.chat-content table.critical td.usertext div:after {
    border-left: 6px solid #BC0201;
}

.chat-content table.receiver td.usertext div .time,
.chat-content table.critical td.usertext div .time,
.chat-content table.critical td.usertext div .time,
.chat-content table.critical td.usertext div .message{
    color: #ffffff;
}


.communication .send-content {
    width: 100%;
    border-top: 1px solid #ffffff;
}

.communication .send-content .inputtext {
    width: 85%;
    float: left;
}

.communication .send-content input[type="text"] {
    height: 38px;
    border: none;
    width: 100%;
    background-color: #ffffff;
    outline: none;
    padding: 0 10px;
}

.communication .send-content .sendbutton {
    width: 15%;
    float: left;
}

.communication .send-content .sendbutton button {
    width: 100%;
    border: none;
    background-color: #8BC44D;
    color: #ffffff;
    height: 38px;
    line-height: 38px;
    text-align: center;
    font-size: 17px;
}

.communication .send-content .sendbutton i {
    font-size: 20px;
    font-weight: bold;
}

.communication .notes-footer {
    border-top: 1px solid #ffffff;
    background-color: #B2B2B2;
    padding: 8px 10px;
}

.communication .notes-footer input[type=checkbox] {
    outline: 2px solid #BC0201;
    background-color: #ffffff;
    border: none;
}

/*----------------- end case details -------------------------*/

/* -------------------- responsive css starts with media --------------*/
@media screen and (max-width: 1245px) {
    .vender-menu-container {
        background-size: cover;
        background-repeat: no-repeat;
        padding-top: 0;
    }

    .vender-menu-container-content {
        margin-top: 0;
    }

    .contact-us-contact {
        max-width: 1024px;
        float: none;
        margin-top: 0;
    }

    .contact-us-contact p.phone {
        font-size: 35px;
        color: #656565;
    }

    .contact-us-contact p.email {
        font-size: 30px;
        color: #656565;
        margin-top: 5px;
    }


    .contact-us-contact-form {
        margin-top: 40px;
        float: none;
        max-width: 1024px;
    }

    .contact-us-contact-form input[type="text"] {
        border: none;
        background-color: #ffffff;
        height: 32px;
        width: 300px;
    }

    .contact-us-contact-form textarea {
        border: none;
        background-color: #ffffff;
        min-height: 130px;
        width: 590px;
        margin-bottom: 17px;
    }
}

@media screen and (max-width: 1190px) {

    .case-form-wrap {
        margin-left: 0;
    }

    .left-table {
        margin-right: 15px;
    }

    .main-container-form-wrap {
        padding: 15px 20px 15px 20px;
    }

    .header {
        height: 110px;
    }

    .header .header-img,
    .header .dashboard-header-img {
        height: 112px;
    }

    .header .logo {
        padding-left: 25px;
    }

    .header .logo img {
        width: 276px;
    }

    .search-header-wrap div input[type="text"] {
        width: 145px;

    }

    .camera {
        float: none;
    }

    .capture-details {
        float: none;
        width: 100%;
        padding-left: 0;
        margin-top: 10px;
    }
}

@media screen and (max-width: 1150px) {
    .about-menu-container {
        background-position: right 34.5% bottom;
    }

    .support-image img {
        width: 310px;
    }

    .home-categories-wrap {
        max-width: 100%;
        margin-left: -10px;
    }

    .home-category {
        margin: 9px;
    }


    .vender-menu-container {
        background-size: cover;
    }

    .case-datails-implents-wrap .leftpanel {
        width: 82%;
        padding-right: 2%;
    }

    .case-datails-implents-wrap .rightpanel {
        width: 18%;
        padding-left: 1.6%;
    }

    .footer-img {
        height: 65px;
        top: -40px;
    }

    .copy-right {
        padding-top: 35px;
    }
}

/* --------------------end responsive css starts with media --------------*/
