﻿.background {
    position: absolute;
    z-index: -1000;
    display: block;
    background: none;
    min-height: 0;
    min-width: 0;
    padding: 0 0 0 100px;
}
.bg-text {
    opacity: 1;
    color: lightgray;
    font-size: 30px;
}

﻿.backgrounds {
    position: absolute;
    z-index: -1000;
    display: block;
    background: none;
    min-height: 0;
    min-width: 0;
    padding: 60px 0 0 150px;
}
.bg-texts {
    opacity: 1;
    color: lightgray;
    font-size: 60px;
    transform: rotate(330deg);
    -webkit-transform: rotate(330deg);
}
