/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : 30-Aug-2014, 17:11:16
    Author     : Adi
*/
@font-face {
    font-family: 'proxima-nova-regular';
    font-style: normal;
    font-weight: normal;
    src: local('proxima-nova-regular'), url('proxima-nova-regular.woff') format('woff');
}

@font-face {
    font-family: 'proximanovalight';
    src: url('proximanovalight.eot');
    src: local('proximanovalight'), url('proximanovalight.woff') format('woff'), url('proximanovalight.ttf') format('truetype');
    font-weight:normal;
    font-style:normal;
}

* {
    margin: 0px;
    padding: 0px;
}

* {
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}

body {
    font-family: 'proxima-nova-regular',Arial,sans-serif;
    font-size: 100%;
    color: #5B5957;
}

html, body {
    height: 100%;
}
/* Reset */
*, *:after, *:before {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

.clearfix:before, .clearfix:after {
    content: " ";
    display: table;
}

.clearfix:after {
    clear: both;
}

.wrapper {
    min-height: 100%;
    height: auto !important;
    height: 100%;
    position: relative;
    background: url(../images/bg-shadow-top.png) #f6f6f6 center top no-repeat;
}

.container {
    margin: 0 auto;
    max-width: 978px;
    position: relative;
    width: 978px;
}

#header {
    
    height: 64px;
    z-index: 999;
    background: #cccccc;
    background: -moz-linear-gradient(top,#5e5e5e 0%,#232323 100%);
    background: -webkit-gradient(linear,left bottom,left top,color-stop(0%,#232323),color-stop(100%,#cccccc));
    background: -webkit-linear-gradient(top,#5e5e5e 0%,#232323 100%);
    background: -o-linear-gradient(top,#5e5e5e 0%,#232323 100%);
    background: -ms-linear-gradient(top,#5e5e5e 0%,#232323 100%);
    background: linear-gradient(to bottom,#5e5e5e 0%,#232323 100%);
}
.mainHeader {
    width: 100%;
    position: relative;
    z-index: 410;
    width: 100%;
}

.logo-menu {
    position: relative;
}

.logo {
    float: left;
    margin-right: 30px;
    padding: 6px 0 0 36px;
}

.logo img {
    border: 0;
    width: 220px;
    height: auto;
}

.maninMenu {
    position: relative;
    float: right;
    z-index: 400;
    margin-right: 30px;
}

.main-nav {
    display: inline-block;
    margin: 0;
    padding: 0;
    float: left;
    list-style: none;
}

.main-nav li {
    position: relative;
}
.main-nav ul {
    position: absolute;
    display: none;
    top: 105%;
    left: 0;
    z-index: 350;
}

.main-nav > li {
    float: left;
}
.main-nav li:hover > ul {
    display: block;
}

.main-nav a {
    display: block;
    position: relative;
    padding: 0 16px;
    font-size: 16px;
    color: #cccccc;
    text-decoration: none;
    border: none;
    line-height: 51px;
    text-shadow: 0 -1px 0 #000000;
}

.main-nav a:hover {
    color: #91b321;
}

a {
    text-decoration: none;
}

ul, li {
    list-style: none;
}
.login-buttion,  .login-buttion *{
    margin: 0px;
    padding: 0px;
    float: left;
    list-style: none;
    line-height: 64px;
}

.login-buttion {
    display: inline-block;
}

.login-buttion li {
    float: left;
    margin-left: 6px;
    margin-top: 15px
}
.login-buttion li a {
    padding: 0 25px;
    font-size: 16px;
    line-height: 51px;
}

.button-green {
    position: relative;
    z-index: 1;
    display: inline-block;
    padding: 0px 24px 0px 24px;
    height: 33px;
    -webkit-border-radius: 17px;
    -moz-border-radius: 17px;
    border-radius: 17px;
    background: -moz-linear-gradient(bottom,#1a480b 7%,#0c8624 11%,#0c8624 89%,#2b7313 94%);
    background: -webkit-gradient(linear,left bottom,left top,color-stop(7%,#1a480b),color-stop(11%,#0c8624),color-stop(89%,#0c8624),color-stop(94%,#16b135));
    background: -webkit-linear-gradient(bottom,#1a480b 7%,#0d5585 11%,#0c8624 89%,#16b135 94%);
    background: -o-linear-gradient(bottom,#1a480b 7%,#0d5585 11%,#0c8624 89%,#16b135 94%);
    background: -ms-linear-gradient(bottom,#1a480b 7%,#0d5585 11%,#0c8624 89%,#16b135 94%);
    background: linear-gradient(to top,#1a480b 7%,#0c8624 11%, #0c8624  89%,#16b135 94%);
    color: #FFFFFF!important;
    text-align: center;
    text-shadow: 0px -1px 0px rgba(4,5,5,0.4);
    font-size: 16px!important;
    line-height: 32px!important;
}


.button-green-create {
    position: relative;
    left:30px;
    z-index: 1;
    display: inline-block;
    padding: 0px 24px 0px 24px;
    height: 40px;
    -webkit-border-radius: 17px;
    -moz-border-radius: 17px;
    border-radius: 17px;
    background: -moz-linear-gradient(bottom,#1a480b 7%,#0c8624 11%,#0c8624 89%,#2b7313 94%);
    background: -webkit-gradient(linear,left bottom,left top,color-stop(7%,#1a480b),color-stop(11%,#0c8624),color-stop(89%,#0c8624),color-stop(94%,#16b135));
    background: -webkit-linear-gradient(bottom,#1a480b 7%,#0d5585 11%,#0c8624 89%,#16b135 94%);
    background: -o-linear-gradient(bottom,#1a480b 7%,#0d5585 11%,#0c8624 89%,#16b135 94%);
    background: -ms-linear-gradient(bottom,#1a480b 7%,#0d5585 11%,#0c8624 89%,#16b135 94%);
    background: linear-gradient(to top,#1a480b 7%,#0c8624 11%, #0c8624  89%,#16b135 94%);
    color: #FFFFFF!important;
    text-align: center;
    text-shadow: 0px -1px 0px rgba(4,5,5,0.4);
    font-size: 16px!important;
    line-height: 40px!important;
    width:200px;
}

.button-green::before {
    position: absolute;
    top: 1px;
    right: 1px;
    bottom: 1px;
    left: 1px;
    z-index: -1;
    height: 31px;
    -webkit-border-radius: 16px;
    -moz-border-radius: 16px;
    border-radius: 16px;
    background: #358c18;
    background: -moz-linear-gradient(bottom,#358c18 0%,#55cd2c 100%);
    background: -webkit-gradient(linear,left bottom,left top,color-stop(0%,#358c18),color-stop(100%,#55cd2c));
    background: -webkit-linear-gradient(bottom,#358c18 0%,#159cf6 100%);
    background: -o-linear-gradient(bottom,#358c18 0%,#55cd2c 100%);
    background: -ms-linear-gradient(bottom,#358c18 0%,#55cd2c 100%);
    background: linear-gradient(to top,#358c18 0%, #55cd2c 100%);
    -webkit-box-shadow: -1px 1px 0px rgba(255,255,255,0.2) inset;
    -moz-box-shadow: -1px 1px 0px rgba(255,255,255,0.2) inset;
    box-shadow: -1px 1px 0px rgba(255,255,255,0.2) inset;
    content: '';
}

.button-green:hover::before {
    background: -moz-linear-gradient(bottom,#28720f 0%,#42b31b 100%);
    background: -webkit-gradient(linear,left bottom,left top,color-stop(0%,#28720f),color-stop(100%,#42b31b));
    background: -webkit-linear-gradient(bottom,#28720f 0%,#42b31b 100%);
    background: -o-linear-gradient(bottom,#28720f 0%,#42b31b 100%);
    background: -ms-linear-gradient(bottom,#28720f 0%,#42b31b 100%);
    background: linear-gradient(to top, #28720f 0%, #42b31b 100%);
    -webkit-box-shadow: -1px 1px 0px rgba(255,255,255,0.2) inset,0px 1px 3px rgba(0,0,0,0.6);
    -moz-box-shadow: -1px 1px 0px rgba(255,255,255,0.2) inset,0px 1px 3px rgba(0,0,0,0.6);
    box-shadow: -1px 1px 0px rgba(255,255,255,0.2) inset,0px 1px 3px rgba(0,0,0,0.6);
}

.button-tiles {
    position: relative;
    z-index: 1;
    display: inline-block;
    padding: 0;
    margin:10px;
    width:110px;
    height: 110px;
    padding: 4px 12px; 
    box-sizing: border-box;
    vertical-align:middle;
    padding:35px 0px 25px 0px;
    text-align:center;
    -webkit-border-radius: 17px;
    -moz-border-radius: 17px;
    border-radius: 17px;
    background: -moz-linear-gradient(bottom,#1a480b 7%,#0c8624 11%,#0c8624 89%,#2b7313 94%);
    background: -webkit-gradient(linear,left bottom,left top,color-stop(7%,#1a480b),color-stop(11%,#0c8624),color-stop(89%,#0c8624),color-stop(94%,#16b135));
    background: -webkit-linear-gradient(bottom,#1a480b 7%,#0d5585 11%,#0c8624 89%,#16b135 94%);
    background: -o-linear-gradient(bottom,#1a480b 7%,#0d5585 11%,#0c8624 89%,#16b135 94%);
    background: -ms-linear-gradient(bottom,#1a480b 7%,#0d5585 11%,#0c8624 89%,#16b135 94%);
    background: linear-gradient(to top,#1a480b 7%,#0c8624 11%, #0c8624  89%,#16b135 94%);
    color: #FFFFFF!important;
    text-align: center;
    text-shadow: 0px -1px 0px rgba(4,5,5,0.4);
    font-size: 18px!important;
    line-height:20px;
}

.button-disabled-tiles {
    position: relative;
    z-index: 1;
    display: inline-block;
    padding: 0;
    margin:10px;
    width:110px;
    height: 110px;
    padding: 4px 12px; 
    box-sizing: border-box;
    vertical-align:middle;
    padding:40px 0px 25px 0px;
    text-align:center;
    -webkit-border-radius: 17px;
    -moz-border-radius: 17px;
    border-radius: 17px;
    color:white !important;
    background: -moz-linear-gradient(bottom,#493a3a 33%,#493a3a 33%,#493a3a 33%,#493a3a 1%);
    background: -webkit-gradient(linear,left bottom,left top,color-stop(33%,#493a3a),color-stop(33%,#493a3a),color-stop(33%,#493a3a),color-stop(1%,#493a3a));
    background: -webkit-linear-gradient(bottom,#493a3a 33%,#493a3a 33%,#493a3a 33%,#493a3a 1%);
    background: -o-linear-gradient(bottom,#493a3a 33%,#493a3a 33%,#493a3a 33%,#493a3a 1%);
    background: -ms-linear-gradient(bottom,#493a3a 33%,#493a3a 33%,#493a3a 33%,#493a3a 1%);
    background: linear-gradient(to top,#493a3a 33%,#493a3a 33%, #493a3a  33%,#493a3a 1%);
    text-align: center;
    text-shadow: 0px -1px 0px rgba(4,5,5,0.4);
    font-size: 18px!important;
    line-height:20px;
}

.button-tiles::before {
    position: absolute;
    top: 1px;
    right: 1px;
    bottom: 1px;
    left: 1px;
    z-index: -1;
    height: 100px;
    -webkit-border-radius: 16px;
    -moz-border-radius: 16px;
    border-radius: 16px;
    background: #358c18;
    background: -moz-linear-gradient(bottom,#358c18 0%,#55cd2c 100%);
    background: -webkit-gradient(linear,left bottom,left top,color-stop(0%,#358c18),color-stop(100%,#55cd2c));
    background: -webkit-linear-gradient(bottom,#358c18 0%,#159cf6 100%);
    background: -o-linear-gradient(bottom,#358c18 0%,#55cd2c 100%);
    background: -ms-linear-gradient(bottom,#358c18 0%,#55cd2c 100%);
    background: linear-gradient(to top,#358c18 0%, #55cd2c 100%);
    -webkit-box-shadow: -1px 1px 0px rgba(255,255,255,0.2) inset;
    -moz-box-shadow: -1px 1px 0px rgba(255,255,255,0.2) inset;
    box-shadow: -1px 1px 0px rgba(255,255,255,0.2) inset;
    content: '';
}

.button-tiles:hover::before {
    background: -moz-linear-gradient(bottom,#28720f 0%,#42b31b 100%);
    background: -webkit-gradient(linear,left bottom,left top,color-stop(0%,#28720f),color-stop(100%,#42b31b));
    background: -webkit-linear-gradient(bottom,#28720f 0%,#42b31b 100%);
    background: -o-linear-gradient(bottom,#28720f 0%,#42b31b 100%);
    background: -ms-linear-gradient(bottom,#28720f 0%,#42b31b 100%);
    background: linear-gradient(to top, #28720f 0%, #42b31b 100%);
    -webkit-box-shadow: -1px 1px 0px rgba(255,255,255,0.2) inset,0px 1px 3px rgba(0,0,0,0.6);
    -moz-box-shadow: -1px 1px 0px rgba(255,255,255,0.2) inset,0px 1px 3px rgba(0,0,0,0.6);
    box-shadow: -1px 1px 0px rgba(255,255,255,0.2) inset,0px 1px 3px rgba(0,0,0,0.6);
}

.button-centertile {
    position: relative;
    z-index: 1;
    display: inline-block;
    padding: 0px 24px 0px 24px;
    margin:10px;
    height: 35px;
    -webkit-border-radius: 17px;
    -moz-border-radius: 17px;
    border-radius: 17px;
    background:#586835;
    color: #FFFFFF!important;
    text-align: center;
    text-shadow: 0px -1px 0px rgba(4,5,5,0.4);
    font-size: 18px!important;
    line-height: 20px;
    width:110px;
    height:110px;
}
    
.button-centertile::before {
    position: absolute;
    top: 1px;
    right: 1px;
    bottom: 1px;
    left: 1px;
    z-index: -1;
    height: 40px;
    -webkit-border-radius: 40px;
    -moz-border-radius: 40px;
    border-radius: 40px;
    background: #140d62;
    -webkit-box-shadow: -1px 1px 0px rgba(255,255,255,0.2) inset;
    -moz-box-shadow: -1px 1px 0px rgba(255,255,255,0.2) inset;
    box-shadow: -1px 1px 0px rgba(255,255,255,0.2) inset;
    content: '';
}

.button-centertile:hover::before {
    background: #5e5e5e;
    -webkit-box-shadow: -1px 1px 0px rgba(255,255,255,0.2) inset,0px 1px 3px rgba(0,0,0,0.6);
    -moz-box-shadow: -1px 1px 0px rgba(255,255,255,0.2) inset,0px 1px 3px rgba(0,0,0,0.6);
    box-shadow: -1px 1px 0px rgba(255,255,255,0.2) inset,0px 1px 3px rgba(0,0,0,0.6);
}

.button-entities {
    position: relative;
    z-index: 1;
    display: inline-block;
    padding: 0px 24px 0px 24px;
    margin:10px;
    height: 35px;
    -webkit-border-radius: 17px;
    -moz-border-radius: 17px;
    border-radius: 17px;
    background:#586835;
    color: #FFFFFF!important;
    text-align: center;
    text-shadow: 0px -1px 0px rgba(4,5,5,0.4);
    font-size: 18px!important;
    line-height: 35px!important;
    width:200px;
}
    
.button-entities::before {
    position: absolute;
    top: 1px;
    right: 1px;
    bottom: 1px;
    left: 1px;
    z-index: -1;
    height: 40px;
    -webkit-border-radius: 40px;
    -moz-border-radius: 40px;
    border-radius: 40px;
    background: #9d2d24;
    -webkit-box-shadow: -1px 1px 0px rgba(255,255,255,0.2) inset;
    -moz-box-shadow: -1px 1px 0px rgba(255,255,255,0.2) inset;
    box-shadow: -1px 1px 0px rgba(255,255,255,0.2) inset;
    content: '';
}

.button-entities:hover::before {
    background: #bc3e15;
    -webkit-box-shadow: -1px 1px 0px rgba(255,255,255,0.2) inset,0px 1px 3px rgba(0,0,0,0.6);
    -moz-box-shadow: -1px 1px 0px rgba(255,255,255,0.2) inset,0px 1px 3px rgba(0,0,0,0.6);
    box-shadow: -1px 1px 0px rgba(255,255,255,0.2) inset,0px 1px 3px rgba(0,0,0,0.6);
}


#banner {
    width: 100%;
    position: relative;
    clear: both;
}

.slider {
    position: relative;
}
.banner-shadow {
    position: absolute;
    top: 0;
    left: 0;
    z-index: 2;
    width: 100%;
    height: 15px;
    background: url('../images/shadow-box.png') transparent left -1px repeat-x;
}

.slide-div {
    width: 978px;
    position: relative;
}


.slide-img {
    position: relative;
    width: 100%;

}
.slide-content {
    width: 100%;
    position: absolute;
    top: 80px;
    left: 50px;
}
.slide-content h1 {
    font-size: 38px;
    color: #fff;
    font-family: 'proximanovalight', Arial,sans-serif;
}
.font-black-color {
    color: #000;
}
.slide-content h1 span {
    color : #000;
    font-family: 'proximanovalight', Arial,sans-serif;
}
.white-bg {
    background-color: #ffffff;
}
.slide-img img{
    width: 978px;
}

.line-no-shadow {
    background: url('../images/line2.png') #ffffff center -3px no-repeat;
}

.bg-gray {
    background: url('../images/bg-content-gray.png') #ffffff left top repeat-x;
}

.shadow-top {
    padding-top: 60px;
    width: 100%;
    background: url('../images/line1.png') center -3px no-repeat;
}

.content {
    display: block;
    overflow: hidden;
    width: 100%;
}

.content.info {
    display: block;
    float: none;
    width: 100%;
}

.two-column-layout {
    width: 100%;
    position: relative
}

.two-column-layout .col-left {
    float: left;
    width: 50%;
}

.col-left h2 {
    font-size: 32px;
    font-family: 'proximanovalight', Arial,sans-serif;
}

.col-left h2 span{
    color : #91b321;
    font-weight: normal;
}

.heading2 {
    font-size: 32px;
    font-family: 'proximanovalight', Arial,sans-serif;
}

.heading2 span{
    color : #91b321;
    font-weight: normal;
}

.heading3 {
    font-size: 21px;
    color: #646668;
    font-family: 'proximanovalight', Arial,sans-serif;
}

.two-column-layout .col-right {
    float: left;
    width: 50%;
}

.col-right img{
    width: 100%;
}

.box-padding-60 {
    padding: 0 40px 0 60px;
}

.simplepara {
    color: #5e5e5e;
    line-height: 120%;
    font-size: 15px;
}

.three-col {
    width: 100%;
}
.three-col .col1, .three-col .col2, .three-col .col3 {
    float: left;
    width: 33.33%;
    padding: 2%;
    text-align: center
} 

.round-button {
    display:block;
    text-align: center;
    margin: 0 auto;
    width:120px;
    height:120px;
    border-radius: 50%;
    color:#f5f5f5;
    text-align:center;
    text-decoration:none;
    background: #b6cdb9;
    font-size:20px;
    font-weight:bold;
    -webkit-transition: all 0.15s ease-in-out;
    -moz-transition: all 0.15s ease-in-out;
    -ms-transition: all 0.15s ease-in-out;
    -o-transition: all 0.15s ease-in-out;
    /*    border: 10px solid #b6cdb9;*/
}
.round-button:hover {
    background: #91b321;
    border: 10px solid #d0e97c;
    -webkit-transition: all 0.15s ease-in-out;
    -moz-transition: all 0.15s ease-in-out;
    -ms-transition: all 0.15s ease-in-out;
    -o-transition: all 0.15s ease-in-out;
}

.round-button img {
    display: block;
    width: 100%;
    padding: 20%;
    padding-top: 23%;
    height: auto;
}
.four-col {
    text-align: center;
}
.four-col .col1, 
.four-col .col2, 
.four-col .col3, 
.four-col .col4 {
    float: left;
    width: 25%;
    padding: 1%;
}

.optmize-content {
    font-size: 17px;
    color: #646668;
    font-family: 'proximanovalight', Arial,sans-serif;
    
}

.round-button2 {
    display:block;
    text-align: center;
    position: relative;
    margin: 0 auto;
    width:86px;
    height:86px;
    border-radius: 50%;
    color:#f5f5f5;
    text-align:center;
    text-decoration:none;
    background: #b6cdb9;
    font-size:20px;
    font-weight:bold;
    -webkit-transition: all 0.15s ease-in-out;
    -moz-transition: all 0.15s ease-in-out;
    -ms-transition: all 0.15s ease-in-out;
    -o-transition: all 0.15s ease-in-out;
    /*    border: 10px solid #b6cdb9;*/
}
.round-button2:hover {
    background: #91b321;
    border: 8px solid #d0e97c;
    -webkit-transition: all 0.15s ease-in-out;
    -moz-transition: all 0.15s ease-in-out;
    -ms-transition: all 0.15s ease-in-out;
    -o-transition: all 0.15s ease-in-out;
}

.round-button2 img {
    display: block;
    width: 100%;
    padding: 20%;
    padding-top: 23%;
    height: auto;
}

.band-four-lay {
    width: 680px;
    margin: 0 auto;
    position: relative;
}

.band-four-lay p {
    font-size: 17px;
    color: #ffffff;
    line-height: 120%;
}

.slide-icons-wrap {
    padding-top: 60px;
}

.customer_icons {
    float: right;
    position: relative;
    margin-right: 10px;
}

.view-customers {
    color: #91b321;
    text-decoration: none;
    font-size: 15px;
}
#slidertwo {
    width: 500px;
    margin-right: 15px;
}
#slidertwo ul li {
    padding: 0 30px;
}

#slidertwo ul li img {
    height: 40px;
}
.prevBtn {
    display:block;
    position:absolute;
    left: 0;
    font-size:60px;
    font-weight:bold;
    text-decoration:none;
    top: 50px
}
.prevBtn, 
.nextBtn {
    color: #8fdb1c
}
.nextBtn {
    display:block;
    position:absolute;
    right: -5px;
    text-decoration:none;
    height: 19px;
    width: 11px;
    top: 10px;
    background: url(../images/arrow.png);
}

.module-ads {
    clear: both;
    overflow: hidden;
    background: #fff;
}

.module-ads ul.list-ads {
    width: 894px;
    padding: 3px 15px 3px 0px;
    overflow: hidden;
    border-spacing: 12px;
    display: table;
    margin: 0 auto;
} 

.module-ads .list-ads li {
    display: table-cell;
    width: 222px;;
    padding: 30px;
    height: 95px;
    background-image: linear-gradient(to bottom,#f7f5f5,#fbf9f9);
    background-image: -webkit-gradient(linear,center top,center bottom,from(#f7f5f5),to(#fbf9f9));
    background-image: -webkit-linear-gradient(top,#f7f5f5,#fbf9f9);
    background-image: -moz-linear-gradient(top,#f7f5f5,#fbf9f9);
    background-image: -o-linear-gradient(top,#f7f5f5,#fbf9f9);
    background-image: -ms-linear-gradient(top,#f7f5f5,#fbf9f9);
    -webkit-box-shadow: 0px 1px 1px rgba(0,0,0,0.2);
    -moz-box-shadow: 0px 1px 1px rgba(0,0,0,0.2);
    box-shadow: 0px 1px 1px rgba(0,0,0,0.2);
}

.module-ads .list-ads .box-blue {
    background-image: linear-gradient(to bottom,#00aef0,#14a9d9);
    background-image: -webkit-gradient(linear,center top,center bottom,from(#00aef0),to(#14a9d9));
    background-image: -webkit-linear-gradient(top,#00aef0,#14a9d9);
    background-image: -moz-linear-gradient(top,#00aef0,#14a9d9);
    background-image: -o-linear-gradient(top,#00aef0,#14a9d9);
    background-image: -ms-linear-gradient(top,#00aef0,#14a9d9);
}

.module-ads ul.list-ads li p a {
    color: #004B85;
    white-space: nowrap;
}

.module-ads .list-ads .box-blue p {
    color: #ffffff;
}
.list-ads .box-blue .heading3 {
    color: #ffffff;
    font-family: 'proximanovalight', Arial,sans-serif;
}
.module-ads .list-ads .box-blue p a{
    color: #ffffff;
}

#footer {
    position: relative;
    z-index: 999;
    clear: both;
    width: 100%;
}

.footer-nav {
    height: 64px;
    background: #cccccc;
    background: -moz-linear-gradient(top,#5e5e5e 0%,#232323 100%);
    background: -webkit-gradient(linear,left bottom,left top,color-stop(0%,#232323),color-stop(100%,#cccccc));
    background: -webkit-linear-gradient(top,#5e5e5e 0%,#232323 100%);
    background: -o-linear-gradient(top,#5e5e5e 0%,#232323 100%);
    background: -ms-linear-gradient(top,#5e5e5e 0%,#232323 100%);
    background: linear-gradient(to bottom,#5e5e5e 0%,#232323 100%);
}

.footer-content {
    height: auto;
}

.footer-content {
    background: #ededed;
    background: -webkit-gradient(linear,0 0,0 bottom,from(#ededed),to(#e0e0e0));
    background: -webkit-linear-gradient(#ededed,#e0e0e0);
    background: -moz-linear-gradient(#ededed,#e0e0e0);
    background: -ms-linear-gradient(#ededed,#e0e0e0);
    background: -o-linear-gradient(#ededed,#e0e0e0);
    background: linear-gradient(#ededed,#e0e0e0);
    padding: 27px 0px;
}

.footer-left {
    margin: 5px 0 0 5.4%;
    width: 80%;
    font-size: 0;
}
.footer-unit {
    float: left;
}
.footer-signup {
    margin-top: 6px;
    float: right;
    margin-right: 3.3%;
    text-align: center;
}

.footer-unit-item {
    margin: 0;
    display: inline-block;
    width: auto;
    vertical-align: top;
    float: none;
    margin-right: 20px;
}
.footer-unit-item.unit-full {
    width: 14%;
}
.footer-unit-item.first-child {
}
.footer-unit-item.last-child {
    width: auto;
    margin-right: 0;
}
.footer-unit ul {
    margin: 0;
    padding: 0;
}
.footer-unit ul li {
    line-height: 14px;
}
li {
    display: list-item;
    text-align: -webkit-match-parent;
}

.footer-unit-item a {
    color: #7a7a7a;
    font-size: 7px;
    letter-spacing: 0.8px;
    white-space: nowrap;
}

.footer-unit-item a {
    font-size: 12px;
    line-height: 14px;
    text-shadow: 0 1px 0 rgba(255,255,255,0.75);
    margin-bottom: 5px;
    display: inline-block;
    letter-spacing: 0.01em;
    text-decoration: none;
}

.footer-unit-item a:hover {
    color: #646668;
}
.footer-unit-item .first-caption {
    font-size: 15px;
    color: #000;
    margin-bottom: 10px;
    line-height: 23px;
}

.footer-menu {
    float: left;
    margin-left: 35px;
}

.footer-menu p{
    color: #cccccc;
    font-size: 13px;
    line-height: 64px;
    text-shadow: 0 -1px 0 #000000;
}

/* Reset */
*, *:after, *:before {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

.clearfix:before, .clearfix:after {
    content: " ";
    display: table;
}

.clearfix:after {
    clear: both;
}
/* rest end */

.wrapper {
    min-height: 100%;
    height: auto !important;
    height: 100%;
    background-color: #f6f6f6;
}

.container {
    margin: 0 auto;
    max-width: 978px;
    position: relative;
    padding: 0 10px;
}

.main-form-wrap {
    width: 1366px;
    background: url(../images/ReadySet_Home.jpg);
    background-repeat:no-repeat;
    height:960px;
}

.about-form-wrap {
    width: 1366px;
    background: url(../images/ReadySet_AboutUs.jpg);
    background-repeat:no-repeat;
    height:960px;
}


.main-from {
    margin: 505px 0px 0px 5px;
    position: relative;
}

.main-from table {
    padding: 12px 10px;
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    border-radius: 4px;
    /*background: url(../images/op70.png);*/
    background-color:lightgray;
}

.table-td-padding {
    padding: 8px 8px 0 0;
    text-align: right;
    font-size:13px;
    color:#8dc63f;
    font-family:Helvetica;
}

.outerdiv {
    width:1366px;
    margin-left:auto;
    margin-right:auto;
    text-align:left;
}

.main-from input[type="text"] ,.main-from input[type="email"] {
    border: none;
    position: relative;
    background-color: #ffffff;
    height: 25px;
}

.submit-button {
    background-color: #99c338;
    padding: 6px 30px;
    border: none;
    color: #ffffff;
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    border-radius: 4px;
    cursor: pointer;
}

.submit-button:hover {
    background-color: #BAE858;
    color: #000000;
}

.validationstyle {
    color:red;
}

@charset "UTF-8";
/* Starter CSS for Flyout Menu */
#cssmenu,
#cssmenu ul,
#cssmenu li #cssmenu a {
  list-style: none;
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 16px;
  font-family: Helvetica;
  line-height: 1;
}
#cssmenu {
  width: auto;
}

.divmenu {
    margin: 92px 0px 0px 336px;
    width:320px;
}
#cssmenu ul {
  zoom: 1;
  background: #a7bc7a url(../images/pattern.png) top left repeat;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  border-radius: 4px;
  border: 1px solid #839b4e;
  -moz-box-shadow: 0 3px 3px rgba(0, 0, 0, 0.3);
  -webkit-box-shadow: 0 3px 3px rgba(0, 0, 0, 0.3);
  box-shadow: 0 3px 3px rgba(0, 0, 0, 0.3);
}
#cssmenu ul:before {
  content: '';
  display: block;
}
#cssmenu ul:after {
  content: '';
  display: table;
  clear: both;
}
#cssmenu a,
#cssmenu a:link,
#cssmenu a:visited {
  padding: 12px 12px;
  display: block;
  text-decoration: none;
  color: #ffffff;
  text-shadow: 0 -1px 1px #586835;
  border-right: 1px solid #839b4e;
}
#cssmenu a:hover {
  color: #586835;
  text-shadow: 0 1px 1px #bdcd9c;
}
#cssmenu li {
  float: left;
  border-right: 1px solid #b2c58b;
}
#cssmenu li:hover {
  background: #9cb369 url(../images/pattern.png) top left repeat;
}
#cssmenu li:first-child {
  border-left: none;
  -webkit-border-radius: 4px 0 0 4px;
  -moz-border-radius: 4px 0 0 4px;
  border-radius: 4px 0 0 4px;
}

.scrollableTd {
padding:10px;
margin:10px;
}

.scrollableDiv {
max-width: 160px; 
display: inline-block;
overflow-x: scroll; 
}

.scrollableDivDetails {
    text-align:left;
max-height: 220px; 
display: inline-block;
overflow-x: scroll; 
}


.login-container-wrap {
    max-width: 480px;
    background-color: #9D9D9D;
    margin: 80px auto;
    position: relative;
    padding: 50px 80px;
    border-radius: 5px;
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
}

.login-container-wrap .form-input {
    text-align: center;
}

.login-btn {
    text-align: center;
    border: 0;
    font-size: 20px;
    font-weight: bold;
    background-color: #8CC64A;
    outline: none;
    cursor: pointer;
    color: #FFFFFF;
    width: 100%;
    line-height: 45px;
    border-radius: 4px;
    -moz-border-radius: 4px;
    -webkit-border-radius: 4px;
    -webkit-transition:  all 0.3s;
    -moz-transition:  all 0.3s;
    -o-transition:   all 0.3s;
    -ms-transition:  all 0.3s;
    transition:  all 0.3s;
}

.login-btn:hover {
    background-color: #4D4D4D;
}


.reg-btn {
    text-align: center;
    border: 0;
    font-size: 15px;
    font-weight: bold;
    background-color: #8B8B8B;
    outline: none;
    cursor: pointer;
    color: #FFFFFF;
    width: 100%;
    line-height: 35px;
    border-radius: 4px;
    -moz-border-radius: 4px;
    -webkit-border-radius: 4px;
    -webkit-transition:  all 0.3s;
    -moz-transition:  all 0.3s;
    -o-transition:   all 0.3s;
    -ms-transition:  all 0.3s;
    transition:  all 0.3s;
}



.reg-btn:hover {
    background-color: #8CC64A;
}

/*------end login page styles--------*/
